{{#section 'stylesheets'}}
    <link rel="stylesheet" href="/styles/stylesheets/ed.css">
{{/section}}
<!-- Global site tag (gtag.js) - Google Analytics -->

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-41144200-3"></script>

<script>

  window.dataLayer = window.dataLayer || [];

  function gtag(){dataLayer.push(arguments);}

  gtag('js', new Date());



  gtag('config', 'UA-41144200-3');

</script>

<div id="hero">
    <div class="custom-container">
        <div class="container-fluid div-block-1">
            <h1 class="heading-1">About Us</h1>
            <p class="paragraph-1"> <a href="https://calp.forestry.ubc.ca/">CALP</a> is an interdisciplinary research group focusing on innovative solutions that bridge research & practice, bringing visualization, science, modeling, land-use & landscape planning, & participatory processes to community engagement & capacity building on sustainability issues.</p>
            <a href="#section-2" class="btn btn-default button-1">LEARN MORE</a>
        </div>
    </div>
</div>

<div id="section-2">
    <div class="container-fluid custom-container">
        <div class="row">
                <p class="paragraph-2"> CALP’s goals are to develop & implement better ways of collaborative learning, planning & social mobilization on climate change,
                   community energy, urban forestry & other aspects of sustainable landscapes; & we do so by collaborating with communities, NGOs , schools, industries &
                   other researchers using various tools and processes to investigate the impact of how citizens, stakeholders, practitioners and decision-makers engage
                   with sustainability challenges in their communities.  In doing so, we strive to establish CALP as an international centre for climate action and education
                   for the broader public and our partner communities.
               </p>
                <p class="paragraph-2"> CALP Director, Dr. Stephen Sheppard, also leads UBC’s <a href = "http://cooltoolswarmworld.ubc.ca/">Social Mobilization on Climate Change using Digital Tools</a>
                   (Cool Tools) Research Cluster, which brings educators, psychologists, digital media experts, climate scientists & planners together to advise youth, communities & governments on building awareness &
                     capacity, supporting policy change & mobilizing collective action to reduce carbon footprints & strengthen community resilience.
                </p>
                <p class="paragraph-2"> Examples of past and ongoing work include: studies on local climate change visioning, district energy, energy retrofit modelling & thermal imaging;
                      renewable energy mapping; energy bundling programs; educational videogames on climate solutions; & development and testing of the Citizens Coolkit
                      to engage local residents, neighbourhoods and schools on climate change mitigation & adaptation. We have consistently conducted high level of extension
                      & knowledge mobilization through workshops, webinars, public & professional presentations across BC. CALP & Cool Tools cluster members have over a
                      decade of experience in visual tool design, community engagement, education & climate change/energy solutions, and developing tools & participatory
                       processes through applied community-based research. These efforts have taught us about the power of evidence-based visual learning tools to engage,
                       inform & motivate practitioners, decision-makers & lay people. Cluster members such as Jaiying Zhao (behavioral psychology), Stephen Petrina
                       (educational digital media) & Dave Fracchia (game design & digital media) will act as expert advsors to the core team. Our core project partner,
                       Community Energy Association, will  serve as a technical advisor on local government energy policies and capacity-building on energy issues,
                        and help coordinate workshops and outreach to BC communities on this and their allied projects. Other partners including , Pacific Institute
                         for Climate Solutions (PICS), Metro Vancouver,  Vancouver School Board & Science World can provide support in terms of staff experience
                         and/or funding support support in advancing use & uptake of the CEE online platform by existing and new users.
                </p>
                <p class="paragraph-2">For more information on CALP Tools, click <a href= "http://calp2016.sites.olt.ubc.ca/files/2019/04/Cool-Tools-1-pager_CALP-UBC.pdf">here</a>.</p>
        </div>
    </div>
</div>

<div id="section-3">
    <div class="container-fluid custom-container">
        <h1 class="heading-3">Partners</h1>
                  <ul class="unordered-list-1">
                      <li class="list-item-1"><span class="glyphicon glyphicon-leaf bullet-point-right-margin" aria-hidden="true"></span> <a href = "https://www.vsb.bc.ca/Pages/default.aspx">Vancouver School Board</a></li>
                      <li class="list-item-1"><span class="glyphicon glyphicon-leaf bullet-point-right-margin" aria-hidden="true"></span> <a href = "https://vancouver.ca/your-government/vancouver-board-of-parks-and-recreation.aspx">Vancouver Board of Parks & Recreation</a></li>
                      <li class="list-item-1"><span class="glyphicon glyphicon-leaf bullet-point-right-margin" aria-hidden="true"></span> <a href = "https://pics.uvic.ca/">PICS – Pacific Institute for Climate Solutions.</a></li>
                      <li class="list-item-1"><span class="glyphicon glyphicon-leaf bullet-point-right-margin" aria-hidden="true"></span> <a href = "https://pwias.ubc.ca/" >Peter Wall Institute for Advanced Studies</a></li>
                      <li class="list-item-1"><span class="glyphicon glyphicon-leaf bullet-point-right-margin" aria-hidden="true"></span> <a href = "https://www.refbc.com/" >Real Estate Foundation of British Columbia</a> </li>
                      <li class="list-item-1"><span class="glyphicon glyphicon-leaf bullet-point-right-margin" aria-hidden="true"></span> <a href = "http://www.sshrc-crsh.gc.ca/home-accueil-eng.aspx" >Social Sciences Humanities Research Council</a> </li>
                      <li class="list-item-1"><span class="glyphicon glyphicon-leaf bullet-point-right-margin" aria-hidden="true"></span> <a href = "https://www.nrcan.gc.ca/home">Natural Resources Canada</a></li>
                      <li class="list-item-1"><span class="glyphicon glyphicon-leaf bullet-point-right-margin" aria-hidden="true"></span> <a href = "http://act-adapt.org/" >Adaptation to Climate Change Team (ACT)</a> </li>
                      <li class="list-item-1"><span class="glyphicon glyphicon-leaf bullet-point-right-margin" aria-hidden="true"></span> <a href = "http://cirs.ubc.ca/" >CIRS – Centre for Interactive Research on Sustainability</a> </li>
                      <li class="list-item-1"><span class="glyphicon glyphicon-leaf bullet-point-right-margin" aria-hidden="true"></span> <a href = "https://www.preventionweb.net/organizations/9619">GEOIDE – Geomatics for Informed Decisions</a></li>
                      <li class="list-item-1"><span class="glyphicon glyphicon-leaf bullet-point-right-margin" aria-hidden="true"></span> <a href = "https://www.neptis.org/" >Neptis Foundation</a> </li>
                      <li class="list-item-1"><span class="glyphicon glyphicon-leaf bullet-point-right-margin" aria-hidden="true"></span> <a href = "http://nserc-crsng.gc.ca/" >NSERC – Natural Sciences and Engineering Research Council of Canada</a> </li>
                      <li class="list-item-1"><span class="glyphicon glyphicon-leaf bullet-point-right-margin" aria-hidden="true"></span> <a href = "https://sala.ubc.ca/" >SALA- The School of Architecture and Landscape Architecture</a> </li>
        </ul>
    </div>
</div>


<div id="section-4">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="heading-4">Project Funders</h1>
                <p class="paragraph-2">Support from partners including private foundations, Vancouver School Board, and Vancouver Board for Parks & Recreation have made the research and development of the <a href="http://calp2016.sites.olt.ubc.ca/files/2019/01/2019-Jan_Coolkit-Full-Version.pdf" >Coolkit</a>
                   and <a href="http://www.icoolkit.net/" >iCoolkit</a> possible.</p>
            </div>

        </div>
    </div>
</div>

<div id="section-6">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="heading-4">Credits</h1>
                <p class="paragraph-2">//names of the current team</p>
            </div>

        </div>
    </div>
</div>




<div id="footer">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-md-3">
                <div class="text-block-1 top-margin-adjustment-2">
                    <span class="text-span footer-logo">Coolkit</span>
                    <div>Beta Version</div>
                    <br>
                    <a href = "https://calp.forestry.ubc.ca/"><img src="/media/images/calp logo.png" style="width: 100%" class="footer-icon"></a>
                </div>
            </div>

            <div class="col-md-5">
                <div class="div-block-14">
                    <h3 class="footer-text footer-header">Contact Us</h3>
                    <div class="div-block-16">
                        <img src="/media/images/Location.svg" width="15" alt="" class="footer-icon">
                        <div class="text-block-3 footer-text-3">COLLABORATIVE FOR ADVANCED LANDSCAPE PLANNING<br>
                          Dept. of Forest Resources Management <br>
                          University of British Columbia (UBC)<br>
                          3321 – 2260 West Mall<br>
                          Vancouver, BC Canada <br>
                          V6T 1Z4</div>
                    </div>
                    <div class="">
                        <img src="/media/images/phone.svg" width="18" alt="" class="footer-icon">
                        <div class="text-block-3 footer-text-3">604-822-8912</div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="div-block-17">
                    <h3 class="footer-text footer-header">Follow Us</h3>
                    <a href="https://www.facebook.com/CoolkitVancouver/" target="_blank"><img src="/media/images/facebook-logo.svg" alt="" class="social-media-icon"></a>
                    <a href="https://www.instagram.com/citizenscoolkit/?hl=en" target="_blank"><img src="/media/images/instagram-logo.svg" alt="" class="social-media-icon"></a>
                </div>
            </div>
        </div>
    </div>
</div>

{{#section 'bodyScripts'}}
    {{!-- <script>
        window.onload = setEqualHeight();
        window.onresize = setEqualHeight();

        function setEqualHeight() {
            if(window.innerWidth >= 1035 && window.innerWidth <= 1132) {
                var leftBlockHeight = document.getElementById('left-block').clientHeight;
                var rightBlockHeight = document.getElementById('right-block').clientHeight;
                console.log("Left: " + leftBlockHeight);
                console.log("Right: " + rightBlockHeight);
                if(leftBlockHeight > rightBlockHeight) {
                    document.getElementById('right-block').style.height = leftBlockHeight + "px";
                } else {
                    document.getElementById('left-block').style.height = rightBlockHeight + "px";
                }
            } else {
                document.getElementById('right-block').removeAttribute("style");
                document.getElementById('left-block').removeAttribute("style");
            }
        }
    </script> --}}

    <!-- Start Source: https://www.w3schools.com/howto/howto_css_smooth_scroll.asp#section2 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("a").on('click', function(event) {
                if (this.hash !== "") {
                event.preventDefault();
                var hash = this.hash;
                $('html, body').animate({
                    scrollTop: $(hash).offset().top - 50
                }, 800, function(){
                    {{!-- window.location.hash = hash; --}}
                });
                }
            });
        });
    </script>
    <!-- End Source: https://www.w3schools.com/howto/howto_css_smooth_scroll.asp#section2 -->
{{/section}}
