{{#section 'stylesheets'}}
    <link rel="stylesheet" href="/styles/stylesheets/background.css">
{{/section}}
<!-- Global site tag (gtag.js) - Google Analytics -->

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-41144200-3"></script>

<script>

  window.dataLayer = window.dataLayer || [];

  function gtag(){dataLayer.push(arguments);}

  gtag('js', new Date());



  gtag('config', 'UA-41144200-3');

</script>


<div id="hero">
    <div class="custom-container">

      <img src="/media/images/mist.png" style="width:100%">

        <div class="container-fluid div-block-1">
            <h1 class="heading-1">Climate Change is Happening</h1>
            <p class="paragraph-1">The main <b>CAUSE</b> of climate change is carbon emissions produced from human activities (e.g. driving cars, builing houses) which adds to the greenhouse effect,
            trapping heat and further warming the Earth's surface. Canada has commited to keep global warming to below an increase of 2 degrees celcius (relative to preindustrial levels).</p>
            <a href="#section-2" class="btn btn-default button-1">LEARN MORE</a>
        </div>
    </div>
</div>

<div class="col-sm-2">
 <nav class="floating-menu">
    <h3>Read about:</h3>
    <a href="#section-3">Urban Forests</a>
    <a href="#section-4">Tree Canopy Goals</a>
    <a href="#section-6">Renewable Energy</a>
    <a href="#section-7">Energy Goals</a>
  </nav>
</div>

<div id="section-2">
    <div class="container-fluid custom-container">
        <div class="row">
            <div>
                <img src="/media/images/climatechange.png" alt="climate change" width="100%">
            </div>
            <div class="col-sm-4">
              <p>British Columbia has commited to reducing its carbon emissions to:<br>
              <font size="5"><b><font color="red">40%</font> below</b> 2007 levels by 2030</font><br>
              <font size="5"><b><font color="red">60%</font> below</b> 2007 levels by 2040</font><br>
              <font size="5"><b><font color="red">80%</font> below</b> 2007 levels by 2050</font></p>
            </div>
            <div class="col-sm-4">
              <p><b>More Floods & Droughts</b><br>
              Hotter, drier, summers & more intense rainstorms will cause more severe and frequent floods and droughts.</p>
            </div>
            <div class="col-sm-4">
              <p><b>Rising Sea Level</b><br>
              Estimated increase of sea level in coastal BC by 2100 is 1m or more. We will lose homes, communities, and ecosystems (an estimated total damage $30 billion by 2050).</p>
            </div>
        </div>
    </div>
</div>

<div id="section-3">
    <div class="container-fluid custom-container">
        <h1 class="heading-3">What is an Urban Forest</h1>
        <div class="row">
            <div class="col-md-12{{! column-padding-adjustment-2 }}">
                  <p class="paragraph-2">The urban forest includes a variety of vegetation and landscape types such as parks, streetscapes, natural areas, and
                    private yards, which together form a complex system of urban greenery.<br> A healthy urban forest will be vital in a hotter, unpredictable
                    future to protect human health during heatwaves, reduce our reliance on air conditoning, reduce flooding, absorb carbon, and provide
                    habitat to wildlife. An urban forest also increases property value and happiness. Our gardens can further help us adapt to climate change by growing food (reducing
                    reliance of imported produce).</p>
                  <img src="/media/images/tree.png" alt="climate tree" width="100%">
            </div>
            <div class="col-sm-4">
              <h3>How large is our urban forest?</h3>
                <p>Vancouver's urban forest today is made up of:<br>
                <font size="5"><b>140,000</b></font> street trees<br>
                <font size="5"><b>300,000</b></font> park trees<br>
                <font size="5"><b>Unknown number</b></font> of private trees</p>
            </div>
            <div class="col-sm-8">
              <h3><font size="5" color="red"><b>18%</b></font> of Vancouver is covereed by tree canopy, as calculated and mapped by the City</h3>
                <p><font size="5"><b>11%</b></font> of canopy on streets<br>
                <font size="5"><b>27%</b></font> of cnapopy in parks<br>
                <font size="5"><b>62%</b></font> of canopy on private property</p>
            </div>
        </div>
    </div>
</div>

<div id="section-4">
    <div class="container-fluid custom-container">
        <h1 class="heading-3"><font color="red">But, We Are Losing Healthy Trees Everyday, Mostly on Private Property</font></h1>
        <div class="col-sm-6">
          <p>Vancouver aims to increase tree canopy from <font size="5" color="red"><b>18% to 22%</b></font> by 2055</p>
          <p>through better management and replanting <font size="5" color="red"><b>150,000</b></font> trees by 2020.</p>
          <p>"Over the past two decades, 23,490 healthy, mature trees were removed from private properties (including residential,
            institutional, commercial and industrial land). In 2013...about 5 healthy, mature trees were removed everyday."<br>
            - City of Vancouver</p>
        </div>
        <div class="col-sm-6">
          <img src="/media/images/treegraph.png" alt="tree graph" width="100%">
        </div>
        <div class="col-sm-12">
          <img src="/media/images/treemap.png" alt="tree map" width="100%">
        </div>
        <div class="col-sm-12">
          <h1 class="heading-4"><font color="red">What Can We Do?</font></h1>
          <p>BC's carbon reduction targets and tree planting targets are for all of our benefits; we must do our share to keep to 2°C of warming.<br>
            We also need to prepare for the impacts of climate change. We can begin to cut our emissions, for example, by taking
            better care of trees in our neighbourhood, switching to renewable energy sources, driving less, or switching
            to hybrids or electric vehicles, and taking better care of our neighbourhood trees.</p>
        </div>
    </div>
</div>



<div id="section-6">
    <div class="container-fluid custom-container">
      <h1 class="heading-4"><font color="green">How Can Renewale Energy Help?</font></h1>
        <div class="row">
            <div class="col-sm-12">
                <h2>What is renewable energy?</h2>
                <p class="paragraph-2">Renewable energy is the energy generated from natural processes that is continuously replenished. This includes sunlight,
                  geothermal heat, wind, tides, water, and various forms of biomass, which will not be exhausted and is constantly renewed.<br>
                  Renewable energy will become one of the most effective tools for us to combat climate change as these sources displace traditional carbon-intensive
                  fossil fuels (the main cause of anthropogenic climate change). Furthermore, the technologies can save us money and increase more job opportunities in the long run.<br>
                  Learn more about Renewable City Strategies <a href="http://vancouver.ca/green-vancouver.aspx">here</a></p>
                  <!-- <img src="/media/images/greenearth.png" alt="green earth" width="100%"> -->
                  <p>UBC CALP team also developed a tool called Community Energy Explorer(CEE), which is a web resource designed to provide communities and citizens
                    with information and tools for local energy planning and carbon emission mitigation. Learn more about <a href="http://www.energyexplorer.ca/">CEE</a> at,
                     and <a href="http://www.energyexplorer.ca/topics/topic3">why</a> we need to switch to renewable energy</p>
            </div>
        </div>
    </div>
</div>

<div id="section-7">
  <div class="container-fluid custom-container">

    <h1 class="heading-4"><font color="red">But, The Majority of Energy We Use Today is Still Unsustainable</font></h1>
    <div class="row">
      <div class="col-sm-6">
        <img src="/media/images/bluegraph.png" alt="blue graph" width="80%">
      </div>
      <div class="col-sm-6">
        <font size="5"><p><b>Vancouver aims to</b><br>
        <p>- Derive 100% of the energy used in Vancouver from renewable sources before 2050.</p>
        <p>- Reduce greenhouse gas emissions by at least 80% below 2007 levels before 2050.</p>
        <p>by Renewable City Strategy</p>
        </font>
      </div>

      <div class="col-sm-12">
       <h1 class="heading-4">How Will Vancouver get to 100% renewable energy by 2050?</h1>
       <img src="/media/images/energygraph.png" alt="energy graph" width="100%">
       <p><font color="green">Why do we need renewable energy?</font><br>
         Renewable energy sources diversify and localize energy supplies, emit little or no carbon into
         the atmosphere, and lower the costs of building maintenance. They are also less detrimental to human health than fossil fuels.<p>
       <p><font color="green">Why does Vancouver aim to achieve this goal?</font><br>
        Metro Vancouver, has massive capacity (rich in natural resources such as wind power, hydrology and biomass) to provide
        its own renewable energy within the borders, but this potential is currently barely utilized. As cities continue to grow,
         we must look at local sources of heat, cooling, and electricity that are sustainable in the long-term.</p>
     </div>
  </div>
</div>
</div>


<div id="footer">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-md-3">
                <div class="text-block-1 top-margin-adjustment-2">
                    <span class="text-span footer-logo">Coolkit</span>
                    <div>Beta Version</div>
                    <br>
                    <img src="/media/images/calp logo.png" style="width: 80%" class="footer-icon">
                </div>
            </div>

            <div class="col-md-5">
                <div class="div-block-14">
                    <h3 class="footer-text footer-header">Contact Us</h3>
                    <div class="div-block-16">
                        <img src="/media/images/Location.svg" width="15" alt="" class="footer-icon">
                        <div class="text-block-3 footer-text-3">COLLABORATIVE FOR ADVANCED LANDSCAPE PLANNING<br>
                          Dept. of Forest Resources Management <br>
                          University of British Columbia (UBC)<br>
                          3321 – 2260 West Mall<br>
                          Vancouver, BC Canada <br>
                          V6T 1Z4</div>
                    </div>
                    <div class="">
                        <img src="/media/images/phone.svg" width="18" alt="" class="footer-icon">
                        <div class="text-block-3 footer-text-3">604-822-8912</div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="div-block-17">
                    <h3 class="footer-text footer-header">Follow Us</h3>
                    <a href="https://www.facebook.com/CoolkitVancouver/" target="_blank"><img src="/media/images/facebook-logo.svg" alt="" class="social-media-icon"></a>
                    <a href="https://www.instagram.com/citizenscoolkit/?hl=en" target="_blank"><img src="/media/images/instagram-logo.svg" alt="" class="social-media-icon"></a>
                </div>
            </div>
        </div>
    </div>
</div>

{{#section 'bodyScripts'}}
    {{!-- <script>
        window.onload = setEqualHeight();
        window.onresize = setEqualHeight();

        function setEqualHeight() {
            if(window.innerWidth >= 1035 && window.innerWidth <= 1132) {
                var leftBlockHeight = document.getElementById('left-block').clientHeight;
                var rightBlockHeight = document.getElementById('right-block').clientHeight;
                console.log("Left: " + leftBlockHeight);
                console.log("Right: " + rightBlockHeight);
                if(leftBlockHeight > rightBlockHeight) {
                    document.getElementById('right-block').style.height = leftBlockHeight + "px";
                } else {
                    document.getElementById('left-block').style.height = rightBlockHeight + "px";
                }
            } else {
                document.getElementById('right-block').removeAttribute("style");
                document.getElementById('left-block').removeAttribute("style");
            }
        }
    </script> --}}

    <!-- Start Source: https://www.w3schools.com/howto/howto_css_smooth_scroll.asp#section2 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("a").on('click', function(event) {
                if (this.hash !== "") {
                event.preventDefault();
                var hash = this.hash;
                $('html, body').animate({
                    scrollTop: $(hash).offset().top - 50
                }, 800, function(){
                    {{!-- window.location.hash = hash; --}}
                });
                }
            });
        });
    </script>
    <!-- End Source: https://www.w3schools.com/howto/howto_css_smooth_scroll.asp#section2 -->
{{/section}}
