{{#section 'stylesheets'}}
    <link rel="stylesheet" href="/styles/stylesheets/home.css">
{{/section}}

<div id="hero">
    <div class="custom-container">
        <div class="container-fluid div-block-1">
            <h1 class="heading-1">Community Version</h1>
            <p class="paragraph-1">The Community Coolkit is an instructional resource for community members wanting to engage in climate change
              mitigation and have meaningful interaction with their neighbours in caring for the places where they live.</p>
            <p class="paragraph-4">This Coolkit is full of fun tools and hands-on activities that are organized into 5 steps:
              chatting, mapping, rating, visioning and action. These activities aim to help you see your neighbourhood in a new way,
              make climate change visible, and re-imagine your future. Pick the activities that you find the most interesting -
              or do them all if you wish!</p>
            <img src="/media/images/5steps.png" width="100%" class="center">
            <br>
            <p></p>
            <br>
            <!--<div class="row row-bottom-border">
                <div class="col-xs-12 col-sm-6 row-right-border block-1-padding">
                    <div class="step-number">Step 1</div>
                    <div class="block-1-content-div-block display-none-above-sm step-bottom-border">
                        <div class="row">
                            <div class="col-xs-6 col-sm-12">
                                <img src="/media/images/people.svg" alt="" class="image-15">
                            </div>
                            <div class="col-xs-6 col-sm-12">
                                <img src="/media/images/Step-1.svg" alt="" class="image-9">
                                <h3 class="bold-heading">Start a Conversation</h3>
                                <h6 class="bold-heading">Meet your neighbours, test your knowledge</h6>
                                <ul class="list-unstyled">
                                    <li class="list-item-2"><a href="/step-1/a1" class="link">Story collection</a></li>
                                    <li class="list-item-2"><a href="/step-1/a2" class="link">Photo gallery</a></li>
                                    <li class="list-item-2"><a href="/step-1/a3" class="link">Photo quiz</a></li>
                                    <li class="list-item-2"><a href="/step-1/a4" class="link">Non-trivia quiz</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="block-1-content-div-block display-above-sm">
                        <img src="/media/images/people.svg" alt="" class="image-15">
                        <img src="/media/images/Step-1.svg" alt="" class="image-9">
                        <h3 class="bold-heading">Start a Conversation</h3>
                        <h6 class="bold-heading">Meet your neighbours, test your knowledge</h6>
                        <ul class="list-unstyled">
                          <li class="list-item-2"><a href="/step-1/a1" class="link">Story collection</a></li>
                          <li class="list-item-2"><a href="/step-1/a2" class="link">Photo gallery</a></li>
                          <li class="list-item-2"><a href="/step-1/a3" class="link">Photo quiz</a></li>
                          <li class="list-item-2"><a href="/step-1/a4" class="link">Non-trivia quiz</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 block-2-padding">
                        <div class="right-step-number">Step 2</div>
                        <div class="block-2-content-div-block display-none-above-sm step-bottom-border">
                            <div class="row">
                                <div class="col-xs-6 col-sm-12">
                                    <img src="/media/images/Asset-Map.svg" alt="" class="image-15">
                                </div>
                                <div class="col-xs-6 col-sm-12">
                                    <img src="/media/images/Step-2.svg" alt="" class="image-9">
                                    <h3 class="bold-heading">Map Your Community</h3>
                                    <h6 class="bold-heading">Get to know your block and see it in a new way</h6>
                                    <ul class="list-unstyled">
                                        <li class="list-item-2"><a href="/step-2/a1" class="link">Urban forest quest</a></li>
                                        <li class="list-item-2"><a href="/step-2/a2" class="link">Climate change detective</a></li>
                                        <li class="list-item-2"><a href="/step-2/a3" class="link">Carbon visual</a></li>
                                        <li class="list-item-2"><a href="/step-2/a4" class="link">Habitat mapping</a></li>
                                        <li class="list-item-2"><a href="/step-2/a5" class="link">Vulnerability mapping</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="block-2-content-div-block display-above-sm">
                            <img src="/media/images/Asset-Map.svg" alt="" class="image-15">
                            <img src="/media/images/Step-2.svg" alt="" class="image-9">
                            <h3 class="bold-heading">Map Your Community</h3>
                            <h6 class="bold-heading">Get to know your block and see it in a new way</h6>
                            <ul class="list-unstyled">
                              <li class="list-item-2"><a href="/step-2/a1" class="link">Urban forest quest</a></li>
                              <li class="list-item-2"><a href="/step-2/a2" class="link">Climate change detective</a></li>
                              <li class="list-item-2"><a href="/step-2/a3" class="link">Carbon visual</a></li>
                              <li class="list-item-2"><a href="/step-2/a4" class="link">Habitat mapping</a></li>
                              <li class="list-item-2"><a href="/step-2/a5" class="link">Vulnerability mapping</a></li>
                            </ul>
                        </div>
                </div>
            </div>-->

            <!-- <div class="row row-bottom-border">
                <div class="col-xs-12 col-sm-6 row-right-border block-3-padding">
                    <div class="step-number">Step 3</div>
                    <div class="block-3-content-div-block display-none-above-sm step-bottom-border">
                        <div class="row">
                            <div class="col-xs-6 col-sm-12">
                                <img src="/media/images/Group-608.svg" alt="" class="image-15">
                            </div>
                            <div class="col-xs-6 col-sm-12">
                                <img src="/media/images/Step-3.svg" alt="" class="image-9">
                                <h3 class="bold-heading">Rate Your Block</h3>
                                <h6 class="bold-heading">Rate how sustainable your household &amp; block are</h6>
                                <ul class="list-unstyled">
                                    <li class="list-item-2"><a href="/step-3/a1" class="link">Household scorecard</a></li>
                                    <li class="list-item-2"><a href="/step-3/a2" class="link">Block scorecard</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="block-3-content-div-block display-above-sm">
                        <img src="/media/images/Group-608.svg" alt="" class="image-15">
                        <img src="/media/images/Step-3.svg" alt="" class="image-9">
                        <h3 class="bold-heading">Rate Your Block</h3>
                        <h6 class="bold-heading">Rate how sustainable your household &amp; block are</h6>
                        <ul class="list-unstyled">
                            <li class="list-item-2"><a href="/step-3/a1" class="link">Household scorecard</a></li>
                            <li class="list-item-2"><a href="/step-3/a2" class="link">Block scorecard</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 block-4-padding">
                        <div class="right-step-number">Step 4</div>
                        <div class="block-4-content-div-block display-none-above-sm step-bottom-border">
                            <div class="row">
                                <div class="col-xs-6 col-sm-12">
                                    <img src="/media/images/Group-1224.svg" alt="" class="image-15">
                                </div>
                                <div class="col-xs-6 col-sm-12">
                                    <img src="/media/images/Step-4.svg" alt="" class="image-9">
                                    <h3 class="bold-heading">Visioning Your Future</h3>
                                    <h6 class="bold-heading">What might your block look like in the future?</h6>
                                    <ul class="list-unstyled">
                                        <li class="list-item-2"><a href="/step-4/a1" class="link">High/low carbon future visioning</a></li>
                                        <li class="list-item-2"><a href="/step-4/a2" class="link">Before and after comparisons</a></li>
                                        <li class="list-item-2"><a href="/step-4/a3" class="link">Home retrofits</a></li>
                                        <li class="list-item-2"><a href="/step-4/a4" class="link">Community energy</a></li>
                                        <li class="list-item-2"><a href="/step-4/a5" class="link">Transportation change</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="block-4-content-div-block display-above-sm">
                            <img src="/media/images/Group-1224.svg" alt="" class="image-15">
                            <img src="/media/images/Step-4.svg" alt="" class="image-9">
                            <h3 class="bold-heading">Visioning Your Future</h3>
                            <h6 class="bold-heading">What might your block look like in the future?</h6>
                            <ul class="list-unstyled">
                                <li class="list-item-2"><a href="/step-3/a1" class="link">Household scorecard</a></li>
                                <li class="list-item-2"><a href="/step-3/a2" class="link">Block scorecard</a></li>
                            </ul>
                        </div>
                </div>
            </div>-->
            <div class="row block-5">
                <div class="col-xs-12 col-sm-6 block-4-padding display-none-above-sm">
                        <div class="right-step-number">Step 1</div>
                        <div class="block-4-content-div-block">
                            <div class="row">
                                <div class="col-xs-6 col-sm-12">
                                    <img src="/media/images/people.svg" alt="" class="image-15">
                                </div>
                                <div class="col-xs-6 col-sm-12">
                                    <img src="/media/images/Step-1.svg" alt="" class="image-9">
                                    <h3 class="bold-heading">Start a Conversation</h3>
                                    <h6 class="bold-heading">Meet your neighbours, test your knowledge</h6>
                                    <ul class="list-unstyled">
                                        <li class="list-item-2"><a href="/step-1/a1" class="link">Story collection</a></li>
                                        <li class="list-item-2"><a href="/step-1/a2" class="link">Photo gallery</a></li>
                                        <li class="list-item-2"><a href="/step-1/a3" class="link">Photo quiz</a></li>
                                        <li class="list-item-2"><a href="/step-1/a4" class="link">Non-trivia quiz</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                </div>

                <div class="display-above-sm">
                    <div class="left-step-number">Step 1</div>
                    <div style="margin-top: 40px; display:inline-block;">
                        <img src="/media/images/people.svg" alt="" class="image-15 block-5-image">
                        <div class="block-5-div-block">
                            <img src="/media/images/Step-1.svg" alt="" class="image-9">
                                <h3 class="bold-heading">Start a Conversation</h3>
                                <h6 class="bold-heading">Meet your neighbours, test your knowledge</h6>
                                <ul class="list-unstyled">
                                    <li class="list-item-2"><a href="/step-1/a1" class="link">Story collection</a></li>
                                    <li class="list-item-2"><a href="/step-1/a2" class="link">Photo gallery</a></li>
                                    <li class="list-item-2"><a href="/step-1/a3" class="link">Photo quiz</a></li>
                                    <li class="list-item-2"><a href="/step-1/a4" class="link">Non-trivia quiz</a></li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row block-5">
                <div class="col-xs-12 col-sm-6 block-4-padding display-none-above-sm">
                        <div class="right-step-number">Step 2</div>
                        <div class="block-4-content-div-block">
                            <div class="row">
                                <div class="col-xs-6 col-sm-12">
                                    <img src="/media/images/Asset-Map.svg" alt="" class="image-15">
                                </div>
                                <div class="col-xs-6 col-sm-12">
                                    <img src="/media/images/Step-2.svg" alt="" class="image-9">
                                    <h3 class="bold-heading">Map Your Community</h3>
                                    <h6 class="bold-heading">Get to know your block and see it in a new way</h6>
                                    <ul class="list-unstyled">
                                        <li class="list-item-2"><a href="/step-2/a1" class="link">Urban forest quest</a></li>
                                        <li class="list-item-2"><a href="/step-2/a2" class="link">Climate change detective</a></li>
                                        <li class="list-item-2"><a href="/step-2/a3" class="link">Carbon visual</a></li>
                                        <li class="list-item-2"><a href="/step-2/a4" class="link">Habitat mapping</a></li>
                                        <li class="list-item-2"><a href="/step-2/a5" class="link">Vulnerability mapping</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                </div>

                <div class="display-above-sm">
                    <div class="left-step-number">Step 2</div>
                    <div style="margin-top: 40px; display:inline-block;">
                        <img src="/media/images/Asset-Map.svg" alt="" class="image-15 block-5-image">
                        <div class="block-5-div-block">
                            <img src="/media/images/Step-2.svg" alt="" class="image-9">
                                <h3 class="bold-heading">Map Your Community</h3>
                                <h6 class="bold-heading">Get to know your block and see it in a new way</h6>
                                <ul class="list-unstyled">
                                    <li class="list-item-2"><a href="/step-2/a1" class="link">Urban forest quest</a></li>
                                    <li class="list-item-2"><a href="/step-2/a2" class="link">Climate change detective</a></li>
                                    <li class="list-item-2"><a href="/step-2/a3" class="link">Carbon visual</a></li>
                                    <li class="list-item-2"><a href="/step-2/a4" class="link">Habitat mapping</a></li>
                                    <li class="list-item-2"><a href="/step-2/a5" class="link">Vulnerability mapping</a></li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row block-5">
                <div class="col-xs-12 col-sm-6 block-4-padding display-none-above-sm">
                        <div class="right-step-number">Step 3</div>
                        <div class="block-4-content-div-block">
                            <div class="row">
                                <div class="col-xs-6 col-sm-12">
                                    <img src="/media/images/Group-608.svg" alt="" class="image-15">
                                </div>
                                <div class="col-xs-6 col-sm-12">
                                    <img src="/media/images/Step-3.svg" alt="" class="image-9">
                                    <h3 class="bold-heading">Rate Your Block</h3>
                                    <h6 class="bold-heading">Rate how sustainable your household &amp; block are</h6>
                                    <ul class="list-unstyled">
                                        <li class="list-item-2"><a href="/step-3/a1" class="link">Household scorecard</a></li>
                                        <li class="list-item-2"><a href="/step-3/a2" class="link">Block scorecard</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                </div>

                <div class="display-above-sm">
                    <div class="left-step-number">Step 3</div>
                    <div style="margin-top: 40px; display:inline-block;">
                        <img src="/media/images/Group-608.svg" alt="" class="image-15 block-5-image">
                        <div class="block-5-div-block">
                            <img src="/media/images/Step-3.svg" alt="" class="image-9">
                                <h3 class="bold-heading">Rate Your Block</h3>
                                <h6 class="bold-heading">Rate how sustainable your household &amp; block are</h6>
                                <ul class="list-unstyled">
                                    <li class="list-item-2"><a href="/step-3/a1" class="link">Household scorecard</a></li>
                                    <li class="list-item-2"><a href="/step-3/a2" class="link">Block scorecard</a></li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row block-5">
                <div class="col-xs-12 col-sm-6 block-4-padding display-none-above-sm">
                        <div class="right-step-number">Step 4</div>
                        <div class="block-4-content-div-block">
                            <div class="row">
                                <div class="col-xs-6 col-sm-12">
                                    <img src="/media/images/Group-1224.svg" alt="" class="image-15">
                                </div>
                                <div class="col-xs-6 col-sm-12">
                                    <img src="/media/images/Step-4.svg" alt="" class="image-9">
                                    <h3 class="bold-heading">Visioning Your Future</h3>
                                    <h6 class="bold-heading">What might your block look like in the future?</h6>
                                    <ul class="list-unstyled">
                                      <li class="list-item-2"><a href="/step-4/a1" class="link">High/low carbon future visioning</a></li>
                                      <li class="list-item-2"><a href="/step-4/a2" class="link">Before and after comparisons</a></li>
                                      <li class="list-item-2"><a href="/step-4/a3" class="link">Home retrofits</a></li>
                                      <li class="list-item-2"><a href="/step-4/a4" class="link">Community energy</a></li>
                                      <li class="list-item-2"><a href="/step-4/a5" class="link">Transportation change</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                </div>

                <div class="display-above-sm">
                    <div class="left-step-number">Step 4</div>
                    <div style="margin-top: 40px; display:inline-block;">
                        <img src="/media/images/Group-1224.svg" alt="" class="image-15 block-5-image">
                        <div class="block-5-div-block">
                            <img src="/media/images/Step-4.svg" alt="" class="image-9">
                                <h3 class="bold-heading">Visioning Your Future</h3>
                                <h6 class="bold-heading">What might your block look like in the future?</h6>
                                <ul class="list-unstyled">
                                  <li class="list-item-2"><a href="/step-4/a1" class="link">High/low carbon future visioning</a></li>
                                  <li class="list-item-2"><a href="/step-4/a2" class="link">Before and after comparisons</a></li>
                                  <li class="list-item-2"><a href="/step-4/a3" class="link">Home retrofits</a></li>
                                  <li class="list-item-2"><a href="/step-4/a4" class="link">Community energy</a></li>
                                  <li class="list-item-2"><a href="/step-4/a5" class="link">Transportation change</a></li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row block-5">
                <div class="col-xs-12 col-sm-6 block-4-padding display-none-above-sm">
                        <div class="right-step-number">Step 5</div>
                        <div class="block-4-content-div-block">
                            <div class="row">
                                <div class="col-xs-6 col-sm-12">
                                    <img src="/media/images/Group-1237.svg" alt="" class="image-15">
                                </div>
                                <div class="col-xs-6 col-sm-12">
                                    <img src="/media/images/Step-5.svg" alt="" class="image-9">
                                    <h3 class="bold-heading">Action on the Ground</h3>
                                    <h6 class="bold-heading">Identify priorities, implement strategies</h6>
                                    <ul class="list-unstyled">
                                        <li class="list-item-2"><a href="/step-5/a1" class="link">Make a pledge</a></li>
                                        <li class="list-item-2"><a href="/step-5/a2" class="link">Plan ahead</a></li>
                                        <li class="list-item-2"><a href="/step-5/a3" class="link">Protect your trees</a></li>
                                        <li class="list-item-2"><a href="/step-5/a4" class="link">Beautify your yard/block</a></li>
                                        <li class="list-item-2"><a href="/step-5/a5" class="link">Develop a low-carbon lifestyle</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                </div>

                <div class="display-above-sm">
                    <div class="left-step-number">Step 5</div>
                    <div style="margin-top: 40px; display:inline-block;">
                        <img src="/media/images/Group-1237.svg" alt="" class="image-15 block-5-image">
                        <div class="block-5-div-block">
                            <img src="/media/images/Step-5.svg" alt="" class="image-9">
                                <h3 class="bold-heading">Action on the Ground</h3>
                                <h6 class="bold-heading">Identify priorities, implement strategies</h6>
                                <ul class="list-unstyled">
                                  <li class="list-item-2"><a href="/step-5/a1" class="link">Make a pledge</a></li>
                                  <li class="list-item-2"><a href="/step-5/a2" class="link">Plan ahead</a></li>
                                  <li class="list-item-2"><a href="/step-5/a3" class="link">Protect your trees</a></li>
                                  <li class="list-item-2"><a href="/step-5/a4" class="link">Beautify your yard/block</a></li>
                                  <li class="list-item-2"><a href="/step-5/a5" class="link">Develop a low-carbon lifestyle</a></li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>


<div id="footer">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-md-2">
                <div class="text-block-1 top-margin-adjustment-2">
                    <span class="text-span footer-logo">Coolkit</span>
                </div>
            </div>

            <div class="col-md-5">
                <div class="div-block-14">
                    <h3 class="footer-text footer-header">Contact Us</h3>
                    <div class="div-block-16">
                        <img src="/media/images/Location.svg" width="15" alt="" class="footer-icon">
                        <div class="text-block-3 footer-text-3">COLLABORATIVE FOR ADVANCED LANDSCAPE PLANNING<br>Faculty of Forestry<br>3321 – 2260 West Mall Vancouver<br>BC Canada V6T 1Z4</div>
                    </div>
                    <div class="">
                        <img src="/media/images/phone.svg" width="18" alt="" class="footer-icon">
                        <div class="text-block-3 footer-text-3">604-822-8912</div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="div-block-17">
                    <h3 class="footer-text footer-header">Follow Us</h3>
                    <a href="https://www.facebook.com/CoolkitVancouver/" target="_blank"><img src="/media/images/facebook-logo.svg" alt="" class="social-media-icon"></a>
                    <a href="https://www.instagram.com/citizenscoolkit/?hl=en" target="_blank"><img src="/media/images/instagram-logo.svg" alt="" class="social-media-icon"></a>
                </div>
            </div>
        </div>
    </div>
</div>

{{#section 'bodyScripts'}}
    {{!-- <script>
        window.onload = setEqualHeight();
        window.onresize = setEqualHeight();

        function setEqualHeight() {
            if(window.innerWidth >= 1035 && window.innerWidth <= 1132) {
                var leftBlockHeight = document.getElementById('left-block').clientHeight;
                var rightBlockHeight = document.getElementById('right-block').clientHeight;
                console.log("Left: " + leftBlockHeight);
                console.log("Right: " + rightBlockHeight);
                if(leftBlockHeight > rightBlockHeight) {
                    document.getElementById('right-block').style.height = leftBlockHeight + "px";
                } else {
                    document.getElementById('left-block').style.height = rightBlockHeight + "px";
                }
            } else {
                document.getElementById('right-block').removeAttribute("style");
                document.getElementById('left-block').removeAttribute("style");
            }
        }
    </script> --}}

    <!-- Start Source: https://www.w3schools.com/howto/howto_css_smooth_scroll.asp#section2 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("a").on('click', function(event) {
                if (this.hash !== "") {
                event.preventDefault();
                var hash = this.hash;
                $('html, body').animate({
                    scrollTop: $(hash).offset().top - 50
                }, 800, function(){
                    {{!-- window.location.hash = hash; --}}
                });
                }
            });
        });
    </script>
    <!-- End Source: https://www.w3schools.com/howto/howto_css_smooth_scroll.asp#section2 -->
{{/section}}
