{{#section 'stylesheets'}}
    <link rel="stylesheet" href="/styles/stylesheets/ed.css">
{{/section}}

<div id="hero">
    <div class="custom-container">
        <div class="container-fluid div-block-1">
            <h1 class="heading-1">Teacher Resources</h1>
            <p class="paragraph-1">Educator's Coolkit is an instructional resource to help educators and teachers engage high school students in climate change education.</p>
            <a href="#section-2" class="btn btn-default button-1">LEARN MORE</a>
        </div>
    </div>
</div>

<div id="section-2">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-sm-6">
                <p class="paragraph-2"> The Collaborative for Advanced Landscape Planning (CALP) is in the process of developing an instructional resource to support climate change awareness, education and engagement in high schools.
                   This instructional resource referred to as the TEACHER’S GUIDE brings together a number of enticing educational components:</p>
                <ul class="unordered-list-1">
                    <li class="list-item-1"><span class="glyphicon glyphicon-leaf bullet-point-right-margin" aria-hidden="true"></span> Outdoor experiential learning</li>
                    <li class="list-item-1"><span class="glyphicon glyphicon-leaf bullet-point-right-margin" aria-hidden="true"></span> Place-based education</li>
                    <li class="list-item-1"><span class="glyphicon glyphicon-leaf bullet-point-right-margin" aria-hidden="true"></span> Game development</li>
                    <li class="list-item-1"><span class="glyphicon glyphicon-leaf bullet-point-right-margin" aria-hidden="true"></span> Digital & field mapping</li>
                    <li class="list-item-1"><span class="glyphicon glyphicon-leaf bullet-point-right-margin" aria-hidden="true"></span> A clear understanding of climate change issues</li>
                </ul>
                <p class="paragraph-2"> – all tailored to the new BC curriculum. </p>
                <p class="paragraph-2">Initiated in 2015, the Teacher’s Guide has been co-designed and evaluated iteratively with teachers, educators, technical experts, curriculum advisors, engagement professionals, and CALP partners and associates.</p>
            </div>
            <div class="col-sm-6">
                <img src="/media/images/people-with-environmental-sustainability-concept.png" alt="" class="image-12">
            </div>
        </div>
    </div>
</div>

<div id="section-3">
    <div class="container-fluid custom-container">
        <h1 class="heading-3">The Teacher's Guide (expected to be completed by 2020) will include:</h1>
        <div class="row">
            <div class="col-md-12{{! column-padding-adjustment-2 }}">
                  <ul class="unordered-list-1">
                      <li class="list-item-1"><span class="glyphicon glyphicon-leaf bullet-point-right-margin" aria-hidden="true"></span> Basic <b>BACKGROUND INFORMATION</b> on climate change;</li>
                      <li class="list-item-1"><span class="glyphicon glyphicon-leaf bullet-point-right-margin" aria-hidden="true"></span> <b>LESSON PLANS</b> <a href="#section-4" ><b>(see below)</b></a> on Climate Change, Urban Forestry, Renewable Energy, and sustainability related issues/topics, offering a wide variety of suggested indoor & outdoor activities, homework assignments, cross-curricular competencies, etc;</li>
                      <li class="list-item-1"><span class="glyphicon glyphicon-leaf bullet-point-right-margin" aria-hidden="true"></span> <b>INSTRUCTIONS</b> on how to use the Cool Tools in classrooms.</li>
                  </ul>
                  <p class="paragraph-2">Stay tuned as we develop this resource! Please sign-up <a href="http://calp.forestry.ubc.ca/teacher-resources-contact-form/" ><b>here</b></a>
                     if you are interested in being involved, or just providing feedback on some of our tools and resources and staying connected with CALP.</p>
            </div>
        </div>
    </div>
</div>

<div id="section-4">
    <div class="container-fluid custom-container">

        <h1 class="heading-3">Classroom-ready LESSON PLANS & COOL TOOLS</h1>
        <ul class="unordered-list-1">
            <li class="list-item-1"><span class="glyphicon glyphicon-leaf bullet-point-right-margin" aria-hidden="true"></span> <a href="http://calp2016.sites.olt.ubc.ca/files/2019/01/Lesson-Plan-Renewable-Energy-RCS_CALP-UBC-1.pdf" ><b>Lesson Plans</b> on Renewable Energy</a> with accompanying
              <a href="http://calp2016.sites.olt.ubc.ca/files/2019/05/Powerpoint-Slides-Renewable-Energy_CALP-UBC.pdf" >.ppt slides</a> to support City of Vancouver's Renewable City Strategy</li>
            <li class="list-item-1"><span class="glyphicon glyphicon-leaf bullet-point-right-margin" aria-hidden="true"></span> <a href="http://calp2016.sites.olt.ubc.ca/files/2019/01/Lesson-Plan-Urban-Forest-101-Coolkit_CALP-UBC.pdf" ><b>Lesson Plans</b> on Urban Forests</a> with accompanying
              <a href="http://calp2016.sites.olt.ubc.ca/files/2019/05/Powerpoint-slides-Urban-Forest-101-Coolkit_CALP-UBC.pdf" >.ppt slides</a></li>
            <li class="list-item-1"><span class="glyphicon glyphicon-leaf bullet-point-right-margin" aria-hidden="true"></span> <a href="http://calp2016.sites.olt.ubc.ca/files/2019/01/Lesson-Plan-Signs-of-Climate-Change-Coolkit_CALP-UBC.pdf" ><b>Lesson Plans</b> on Signs of Climate Change</a> with accompanying
              <a href="http://calp2016.sites.olt.ubc.ca/files/2019/05/Powerpoint-Slides-Signs-of-Climate-Change-Coolkit_CALP-UBC.pdf" >.ppt slides</a></li>
            <li class="list-item-1"><span class="glyphicon glyphicon-leaf bullet-point-right-margin" aria-hidden="true"></span> <a href="http://calp2016.sites.olt.ubc.ca/files/2019/05/Introduction-to-Climate-Change_CALP-UBC.pdf"><b>Lesson Plans</b> on Introduction to Climate Change</a></li>
            <li class="list-item-1"><span class="glyphicon glyphicon-leaf bullet-point-right-margin" aria-hidden="true"></span> The <a href="http://calp2016.sites.olt.ubc.ca/files/2019/01/2019-Jan_Coolkit-Full-Version.pdf" >Citizen's Coolkit</a> & the <a href="http://www.icoolkit.net/" >iCoolkit</a> (under-development)</li>
            <li class="list-item-1"><span class="glyphicon glyphicon-leaf bullet-point-right-margin" aria-hidden="true"></span> The <a href="http://calp2016.sites.olt.ubc.ca/files/2019/05/2019-Apr_OFC-POSTER-11x17.pdf" >Our Future Community Videogame</a> (under-development)</li>
            <li class="list-item-1"><span class="glyphicon glyphicon-leaf bullet-point-right-margin" aria-hidden="true"></span> The <a href="http://www.energyexplorer.ca/" > Community Energy Explorer</a></li>
        </ul>
    </div>
</div>



<div id="section-6">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="heading-4">Project Funders</h1>
                <p class="paragraph-2">Support from partners like an anonymous Foundation, Vancouver School Board, Vancouver Board for Parks & Recreation have made the research and development of the <a href="http://calp2016.sites.olt.ubc.ca/files/2019/01/2019-Jan_Coolkit-Full-Version.pdf" >Coolkit</a>
                   and <a href="http://www.icoolkit.net/" >iCoolkit</a> possible.</p>
            </div>

        </div>
    </div>
</div>

<div id="section-8">
    <div class="container-fluid custom-container-2">
        <h1 class="heading-8">Supported By</h1>
        <a href="https://vancouver.ca/your-government/vancouver-board-of-parks-and-recreation.aspx" target="_blank">
            <div class="supporter" id="park-board"></div>
        </a>
        <a href="https://www.vsb.bc.ca/Pages/default.aspx" target="_blank">
            <div class="supporter" id="school-board"></div>
        </a>
    </div>
</div>

<div id="footer">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-md-2">
                <div class="text-block-1 top-margin-adjustment-2">
                    <span class="text-span footer-logo">Coolkit</span>
                </div>
            </div>
            <div class="col-md-4">
                <h3 class="footer-text footer-header">Citizen's Coolkit</h3>
                <p class="footer-text footer-text-2">Citizen's Coolkit is a structured, visual and fun guide for people to engage their blocks on issues and solutions related to  climate change and urban forestry. It aims to help you climate-proof your neighbourhood while improving the urban forests that surround your home.</p>
                <a href="http://calp.forestry.ubc.ca/home/urban-forestry-toolkit/" target="_blank" class="btn btn-default button-1 top-margin-adjustment-3">REFER US</a>
            </div>
            <div class="col-md-4">
                <div class="div-block-14">
                    <h3 class="footer-text footer-header">Contact Us</h3>
                    <div class="div-block-16">
                        <img src="/media/images/Location.svg" width="15" alt="" class="footer-icon">
                        <div class="text-block-3 footer-text-3">COLLABORATIVE FOR ADVANCED LANDSCAPE PLANNING<br>Faculty of Forestry<br>3321 – 2260 West Mall Vancouver<br>BC Canada V6T 1Z4</div>
                    </div>
                    <div class="">
                        <img src="/media/images/phone.svg" width="18" alt="" class="footer-icon">
                        <div class="text-block-3 footer-text-3">604-822-4148</div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="div-block-17">
                    <h3 class="footer-text footer-header">Follow Us</h3>
                    <a href="https://www.facebook.com/CoolkitVancouver/" target="_blank"><img src="/media/images/facebook-logo.svg" alt="" class="social-media-icon"></a>
                    <a href="https://www.instagram.com/citizenscoolkit/?hl=en" target="_blank"><img src="/media/images/instagram-logo.svg" alt="" class="social-media-icon"></a>
                </div>
            </div>
        </div>
    </div>
</div>

{{#section 'bodyScripts'}}
    {{!-- <script>
        window.onload = setEqualHeight();
        window.onresize = setEqualHeight();

        function setEqualHeight() {
            if(window.innerWidth >= 1035 && window.innerWidth <= 1132) {
                var leftBlockHeight = document.getElementById('left-block').clientHeight;
                var rightBlockHeight = document.getElementById('right-block').clientHeight;
                console.log("Left: " + leftBlockHeight);
                console.log("Right: " + rightBlockHeight);
                if(leftBlockHeight > rightBlockHeight) {
                    document.getElementById('right-block').style.height = leftBlockHeight + "px";
                } else {
                    document.getElementById('left-block').style.height = rightBlockHeight + "px";
                }
            } else {
                document.getElementById('right-block').removeAttribute("style");
                document.getElementById('left-block').removeAttribute("style");
            }
        }
    </script> --}}

    <!-- Start Source: https://www.w3schools.com/howto/howto_css_smooth_scroll.asp#section2 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("a").on('click', function(event) {
                if (this.hash !== "") {
                event.preventDefault();
                var hash = this.hash;
                $('html, body').animate({
                    scrollTop: $(hash).offset().top - 50
                }, 800, function(){
                    {{!-- window.location.hash = hash; --}}
                });
                }
            });
        });
    </script>
    <!-- End Source: https://www.w3schools.com/howto/howto_css_smooth_scroll.asp#section2 -->
{{/section}}
