<div id="hero">
    <div class="custom-container">
        <div class="container-fluid div-block-1">
            <img src="media/images/illustration-of-human-avatar-with-environment.svg" alt="" id="hero-image">
            <h1 class="heading-1">Welcome to the Citizen's Coolkit</h1>
            <p class="paragraph-1">Citizen's Coolkit is a structured, visual and fun guide for people to engage their blocks on issues and solutions related to  climate change and urban forestry. It aims to help you climate-proof your neighbourhood while improving the urban forests that surround your home.</p>
            <a href="#" class="btn btn-default button-1">START EXPLORING</a>
        </div>
    </div>
</div>

<div class="section-2">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="heading-2">Why do we need the Coolkit?</h1>
                <p class="paragraph-2">Our communities are changing. How can we understand and manage that change? This Coolkit is designed to help you:</p>
                <ul class="unordered-list-1">
                    <li class="list-item-1">Learn about your block and how climate change affects it</li>
                    <li class="list-item-1">Meet your neighbours and talk to them about climate change</li>
                    <li class="list-item-1">Improve quality of life on your block</li>
                    <li class="list-item-1">Climate-proof your home and neighbourhood</li>
                    <li class="list-item-1">Cut your carbon footprint together with your neighbours</li>
                    <li class="list-item-1">Have fun along the way!</li>
                </ul>
                <a href="#" class="btn btn-default button-1">LEARN MORE</a>
            </div>
            <div class="col-sm-6">
                <a href="#"></a>
            </div>
        </div>
    </div>
</div>

<div class="section-3">
    <div class="container-fluid custom-container">
        <h1 class="heading-3">Who is this for?</h1>
        <div class="row">
            <div class="col-md-6{{! column-padding-adjustment-2 }}">
                <div class="div-block-2">
                    <div class="row">
                        <div class="col-sm-3 column-padding-adjustment-1">
                            <img src="media/images/boy-with-book2x.png" alt="" class="image-1">
                        </div>
                        <div class="col-sm-9 column-padding-adjustment-1">
                            <h2 class="heading-4">Community Version</h2>
                            <p>Community members wanting … where they live. Community leaders, librarians, and practitioners running neighbourhood engagement programs.</p>
                            <a href="#" class="link">LEARN MORE</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6{{!column-padding-adjustment-3}}">
                <div class="div-block-2">
                    <div class="row">
                        <div class="col-sm-3 column-padding-adjustment-1">
                            <img src="media/images/teacher-with-book2x.png" alt="" class="image-2">
                        </div>
                        <div class="col-sm-9 column-padding-adjustment-1">
                            <h2 class="heading-4">Educator's Version</h2>
                            <p>School teachers, students, and youth groups wanting to get involved and/or teach climate change &amp; urban forestry in class.</p>
                            <a href="#" class="link">LEARN MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-4">
    <div class="container-fluid custom-container">

        <h1 class="heading-7">Coolkit at a Glance</h1>
        <p class="paragraph-4">This Coolkit is full of fun tools and hands-on activities that are organized into 5 steps: chatting, mapping, rating, visioning and action . These activities aim to help you see your neighbourhood in a new way, make climate change visible, and re-imagine your future. Pick the activities that you find the most interesting - or do them all if you wish!</p>
        
        <div class="div-block-9 div-block-12"> {{! div-block-9 }}
            <div class="row">
                
                <div class="column-2 col-sm-6">
                    <img src="images/people.svg" alt="" class="image-10">
                </div>

                <div class="column-3 col-sm-6">
                    <div class="div-block-10">
                        <img src="images/Step-1.svg" alt="" class="image-9">
                        <h3>Start a Conversation</h3>
                        <h6>Meet your neighbours, test your knowledge</h6>
                        <ul class="list-unstyled">
                            <li class="list-item-2">Story collection</li>
                            <li class="list-item-2">Photo gallery</li>
                            <li class="list-item-2">Photo quiz</li>
                            <li>Non-trivia quiz</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        
        <div class="div-block-12">
            <div class="row">
                
                <div class="column-11 col-sm-6"> {{! column-11 is used for responsive design }}
                    <div class="div-block-8">
                        <img src="images/Step-2---Map.svg" alt="" class="image-9">
                        <h3>Map Your Community</h3>
                        <h6>Get to know your block and see it in a new way</h6>
                        <ul class="list-unstyled">
                            <li class="list-item-2">Urban forest quest</li>
                            <li class="list-item-2">Climate change detective</li>
                            <li class="list-item-2">Carbon visual</li>
                            <li class="list-item-2">Habitat mapping</li>
                            <li>Vulnerability mapping</li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-6">
                    <img src="images/Asset-Map.svg" alt="" class="image-11">
                </div>

            </div>
        </div>

        <div class="div-block-12">
            <div class="row">
                
                <div class="col-sm-6">
                    <img src="images/Group-608.svg" alt="" class="image-10">
                </div>
                
                <div class="column-10 col-sm-6"> {{! column-10 is used for responsive design }}
                    <div class="div-block-10">
                        <img src="images/Step-3---Rate.svg" alt="" class="image-9">
                        <h3>Rate Your Block</h3>
                        <h6>Rate how sustainable your household &amp; block are</h6>
                        <ul class="list-unstyled">
                            <li class="list-item-2">Household scorecard</li>
                            <li>Block scorecard</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <div class="div-block-12">
            <div class="row">

                <div class="column-12 col-sm-6"> {{! column-12 is used for responsive design }}
                    <div class="div-block-8">
                        <img src="images/Step-4---Vision.svg" alt="" class="image-9">
                        <h3>Visioning Your Future</h3>
                        <h6>What might your block look like in the future?</h6>
                        <ul class="list-unstyled">
                            <li class="list-item-2">High/low carbon future visioning</li>
                            <li class="list-item-2">Before and after comparisons</li>
                            <li class="list-item-2">Home retrofits</li>
                            <li class="list-item-2">Community energy</li>
                            <li>Transportation change</li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-6">
                    <img src="images/Group-1224.svg" alt="" class="image-11">
                </div>

            </div>
        </div>

        <div class="div-block-12">
            <div class="row">
                
                <div class="col-sm-6">
                    <img src="images/Group-1237.svg" alt="" class="image-10">
                </div>

                <div class="column-13 col-sm-6"> {{! column-13 is used for responsive design }}
                    <div class="div-block-15">
                        <img src="images/Step-5---Act.svg" alt="" class="image-9">
                        <h3>Action on the Ground</h3>
                        <h6>Identify priorities, implement strategies</h6>
                        <ul class="list-unstyled">
                            <li class="list-item-2">Make a pledge</li>
                            <li class="list-item-2">Plan ahead</li>
                            <li class="list-item-2">Protect your trees</li>
                            <li class="list-item-2">Beautify your yard/block</li>
                            <li>Develop a low-carbon lifestyle</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <a href="#" class="btn btn-default button-1 center-button top-margin-adjustment-1">LEARN MORE</a>

    </div>
</div>