{{#section 'stylesheets'}}
    <link rel="stylesheet" href="/styles/stylesheets/ed.css">
{{/section}}
<!-- Global site tag (gtag.js) - Google Analytics -->

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-41144200-3"></script>

<script>

  window.dataLayer = window.dataLayer || [];

  function gtag(){dataLayer.push(arguments);}

  gtag('js', new Date());



  gtag('config', 'UA-41144200-3');

</script>

<div id="hero">
    <div class="custom-container">
        <div class="container-fluid div-block-1">
            <h1 class="heading-1">Additional Resources</h1>
            <p class="paragraph-1">Here are some additional resources that you may find interesting. Reading materials refer to resources that contain articles or
              documents, while online or interactive tools involve clicking around and exploration of different references.</p>
            <a href="#section-2" class="btn btn-default button-1">LEARN MORE</a>
        </div>
    </div>
</div>

<!--<div id="section-2">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-sm-6">
                <p class="paragraph-2"> The Collaborative for Advanced Landscape Planning (CALP) is in the process of developing an instructional resource to support climate change awareness, education and engagement in high schools.
                   This instructional resource referred to as the TEACHER’S GUIDE brings together a number of enticing educational components:</p>
                <ul class="unordered-list-1">
                    <li class="list-item-1"><span class="glyphicon glyphicon-leaf bullet-point-right-margin" aria-hidden="true"></span> Outdoor experiential learning</li>
                    <li class="list-item-1"><span class="glyphicon glyphicon-leaf bullet-point-right-margin" aria-hidden="true"></span> Place-based education</li>
                    <li class="list-item-1"><span class="glyphicon glyphicon-leaf bullet-point-right-margin" aria-hidden="true"></span> Game development</li>
                    <li class="list-item-1"><span class="glyphicon glyphicon-leaf bullet-point-right-margin" aria-hidden="true"></span> Digital & field mapping</li>
                    <li class="list-item-1"><span class="glyphicon glyphicon-leaf bullet-point-right-margin" aria-hidden="true"></span> A clear understanding of climate change issues</li>
                </ul>
                <p class="paragraph-2"> – all tailored to the new BC curriculum. </p>
                <p class="paragraph-2">Initiated in 2015, the Teacher’s Guide has been co-designed and evaluated iteratively with teachers, educators, technical experts, curriculum advisors, engagement professionals, and CALP partners and associates.</p>
            </div>
            <div class="col-sm-6">
                <img src="/media/images/people-with-environmental-sustainability-concept.png" alt="" class="image-12">
            </div>
        </div>
    </div>
</div>-->


<div id="section-2">
    <div class="container-fluid custom-container">
        <h1 class="heading-3">CALP Resources:</h1>
        <div class="row">
            <div class="col-md-12{{! column-padding-adjustment-2 }}">
              <ul class="unordered-list-1">
                <!-- <li class="list-item-1"><span class="glyphicon glyphicon-leaf bullet-point-right-margin" aria-hidden="true"></span>
                   <a href="http://calp2016.sites.olt.ubc.ca/files/2019/05/Introduction-to-Climate-Change_CALP-UBC.pdf"><b>Lesson Plans</b> on Introduction to Climate Change</a></li>
                <li class="list-item-1"><span class="glyphicon glyphicon-leaf bullet-point-right-margin" aria-hidden="true"></span>
                   <a href="http://calp2016.sites.olt.ubc.ca/files/2019/01/Lesson-Plan-Urban-Forest-101-Coolkit_CALP-UBC.pdf" ><b>Lesson Plans</b>
                       on Urban Forests</a> with accompanying
                   <a href="http://calp2016.sites.olt.ubc.ca/files/2019/05/Powerpoint-slides-Urban-Forest-101-Coolkit_CALP-UBC.pdf" >.ppt slides</a></li>
                   <li class="list-item-1"><span class="glyphicon glyphicon-leaf bullet-point-right-margin" aria-hidden="true"></span>
                      <a href="http://calp2016.sites.olt.ubc.ca/files/2019/01/Lesson-Plan-Signs-of-Climate-Change-Coolkit_CALP-UBC.pdf" ><b>Lesson Plans</b>
                         on Signs of Climate Change</a> with accompanying
                     <a href="http://calp2016.sites.olt.ubc.ca/files/2019/05/Powerpoint-Slides-Signs-of-Climate-Change-Coolkit_CALP-UBC.pdf" >.ppt slides</a></li>
                  <li class="list-item-1"><span class="glyphicon glyphicon-leaf bullet-point-right-margin" aria-hidden="true"></span>
                     <a href="http://calp2016.sites.olt.ubc.ca/files/2019/01/Lesson-Plan-Renewable-Energy-RCS_CALP-UBC-1.pdf" ><b>Lesson Plans</b>
                        on Renewable Energy</a> with accompanying
                    <a href="http://calp2016.sites.olt.ubc.ca/files/2019/05/Powerpoint-Slides-Renewable-Energy_CALP-UBC.pdf" >.ppt slides</a>
                     to support City of Vancouver's Renewable City Strategy</li>
                  <li class="list-item-1"><span class="glyphicon glyphicon-leaf bullet-point-right-margin" aria-hidden="true"></span>
                     <a href="https://k12.esri.ca/resourcefinder/#/search=%22Exploring%20Climate%20Change%20in%20my%20Community%22/lang=en"><b>Lesson Plans</b> on Exploring Climate Change in your Community</a> – developed with ESRI Canada</li> -->
                  <li class="list-item-1"><span class="glyphicon glyphicon-leaf bullet-point-right-margin" aria-hidden="true"></span>
                     The <a href="http://calp2016.sites.olt.ubc.ca/files/2019/05/2019-Apr_OFC-POSTER-11x17.pdf" >
                       Our Future Community Videogame</a> (under-development)
                    <p>An interactive video game that allows students to explore community energy. Build your own neighbourhood and
                      make choices to learn how you can be more sustainable in your community.</p></li>
                  <li class="list-item-1"><span class="glyphicon glyphicon-leaf bullet-point-right-margin" aria-hidden="true"></span>
                     The <a href="http://latest.energyexplorer.ca/">Community Energy Explorer</a>
                 <p>An interactive website that allows you to explore community energy. Zoom in on your neighbourhood and
                     see what the energy potentials are for each community.</p></li>
            </div>
        </div>
    </div>
</div>


<div id="section-3">
    <div class="container-fluid custom-container">
        <h1 class="heading-3">Reading Materials:</h1>
        <div class="row">
            <div class="col-md-12{{! column-padding-adjustment-2 }}">
              <ul class="unordered-list-1">
                <li class="list-item-1"><span class="glyphicon glyphicon-leaf bullet-point-right-margin" aria-hidden="true"></span>
                  <a href="https://vancouver.ca/files/cov/renewable-city-strategy-booklet-2015.pdf">Vancouver's Renewable Energy Strategy</a>
                  <p>Incorporating environmental, social, and economic pillars of sustainability, the Renewable Energy Strategy lays out goals and
                    tasks Vancouver must take to achieve 100% renewable energy in 2050 and reduce GHG emissions by 80% before 2050.</p></li>
                <li class="list-item-1"><span class="glyphicon glyphicon-leaf bullet-point-right-margin" aria-hidden="true"></span>
                  <a href="https://vancouver.ca/streets-transportation/city-greenways.aspx">Vancouver's Greenway Network</a>
                  <p>Learn more about Vancouver’s many greenways, and where the nearest one to you is located. Once complete, the greenway network
                    will reach 140 km long and span from Marpole to False Creek!</p></li>
                <li class="list-item-1"><span class="glyphicon glyphicon-leaf bullet-point-right-margin" aria-hidden="true"></span>
                  <a href="http://www.metrovancouver.org/Pages/PageNotFoundError.aspx?requestUrl=http://www.metrovancouver.org/services/regional-planning/PlanningPublications/UrbanForestClimateAd-aptationFrameworkTreeSpeciesSelection.pdf">
                    Urban Forest Climate Adaption Framework for Metro Vancouver</a>
                  <p>What are the risks facing urban forests? How can we build resilience going forward? This strategy outlines the current
                    condition of our urban forests, labels the threats, and describes how to move towards a more resilient future.</p></li>
                <li class="list-item-1"><span class="glyphicon glyphicon-leaf bullet-point-right-margin" aria-hidden="true"></span>
                  <a href="https://engage.gov.bc.ca/cleanbc/">Climate Action in BC</a>
                  <p>What has B.C. done to fight against climate change? Visit this site to see what has been done in the built environment,
                    transportation, and industry sectors as well as across sectors.</p></li>
                  <p class="paragraph-2">Stay tuned as we develop this resource! Please sign-up <a href="http://calp.forestry.ubc.ca/teacher-resources-contact-form/" ><b>here</b></a>
                  if you are interested in being involved, or just providing feedback on some of our tools and resources and staying connected with CALP.</p>
            </div>
        </div>
    </div>
</div>

<div id="section-4">
    <div class="container-fluid custom-container">
        <h1 class="heading-3">Online & Interactive</h1>
        <div class="row">
            <div class="col-md-12{{! column-padding-adjustment-2 }}">
              <ul class="unordered-list-1">
                    <li class="list-item-1"><span class="glyphicon glyphicon-leaf bullet-point-right-margin" aria-hidden="true"></span>
                      <a href="https://www.bcsea.org/Cool-It">BCSEA Cool it!</a>
                      <p>Cool It! is an interactive environmental workshop and contest for students in grades 4 to 7. In each 90-minute workshop, our
                        Environmental Educators use videos, games, quizzes and discussion to build on students’ knowledge of climate change.</p></li>
                  <li class="list-item-1"><span class="glyphicon glyphicon-leaf bullet-point-right-margin" aria-hidden="true"></span>
                    <a href="https://data.worldbank.org/indicator/EN.ATM.GHGT.KT.CE?end=2012&start=2012&view=map">World Bank GHG Emissions Map</a>
                    <p>Curious about the emissions of other countries? Discover the emission levels of all countries and economies.</p></li>
                  <li class="list-item-1"><span class="glyphicon glyphicon-leaf bullet-point-right-margin" aria-hidden="true"></span>
                    <a href="leafsnap.com">Leafsnap (app)</a>
                    <p>Snap a photo of a leaf, seed, or flower from an unknown tree and this app will help you identify it.</p></li>
                  <li class="list-item-1"><span class="glyphicon glyphicon-leaf bullet-point-right-margin" aria-hidden="true"></span>
                    <a href="http://www.growgreenguide.ca/">Grow Your Garden or Find the Right Plant</a>
                    <p>This website gives you a variety of beautiful garden-bed layouts, and helps you find the perfect plant for any corner in your garden.</p></li>
                    <li class="list-item-1"><span class="glyphicon glyphicon-leaf bullet-point-right-margin" aria-hidden="true"></span>
                      <a href="http://senseable.mit.edu/treepedia/greenindex/london/d7laGxAA2RAQgVPDrL1uwQ">Treepedia</a>
                      <p>Just how much canopy cover does Vancouver have relative to other cities? This website shows you the approximate green
                        canopy cover of over twenty major cities, including Berlin, Seattle, Tel Aviv, and Cape Town.</p></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div id="footer">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-md-3">
                <div class="text-block-1 top-margin-adjustment-2">
                    <span class="text-span footer-logo">Coolkit</span>
                    <div>Beta Version</div>
                    <br>
                    <a href = "https://calp.forestry.ubc.ca/"><img src="/media/images/calp logo.png" style="width: 100%" class="footer-icon"></a>
                </div>
            </div>

            <div class="col-md-5">
                <div class="div-block-14">
                    <h3 class="footer-text footer-header">Contact Us</h3>
                    <div class="div-block-16">
                        <img src="/media/images/Location.svg" width="15" alt="" class="footer-icon">
                        <div class="text-block-3 footer-text-3">COLLABORATIVE FOR ADVANCED LANDSCAPE PLANNING<br>
                          Dept. of Forest Resources Management <br>
                          University of British Columbia (UBC)<br>
                          3321 – 2260 West Mall<br>
                          Vancouver, BC Canada <br>
                          V6T 1Z4</div>
                    </div>
                    <div class="">
                        <img src="/media/images/phone.svg" width="18" alt="" class="footer-icon">
                        <div class="text-block-3 footer-text-3">604-822-8912</div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="div-block-17">
                    <h3 class="footer-text footer-header">Follow Us</h3>
                    <a href="https://www.facebook.com/CoolkitVancouver/" target="_blank"><img src="/media/images/facebook-logo.svg" alt="" class="social-media-icon"></a>
                    <a href="https://www.instagram.com/citizenscoolkit/?hl=en" target="_blank"><img src="/media/images/instagram-logo.svg" alt="" class="social-media-icon"></a>
                </div>
            </div>
        </div>
    </div>
</div>

{{#section 'bodyScripts'}}
    {{!-- <script>
        window.onload = setEqualHeight();
        window.onresize = setEqualHeight();

        function setEqualHeight() {
            if(window.innerWidth >= 1035 && window.innerWidth <= 1132) {
                var leftBlockHeight = document.getElementById('left-block').clientHeight;
                var rightBlockHeight = document.getElementById('right-block').clientHeight;
                console.log("Left: " + leftBlockHeight);
                console.log("Right: " + rightBlockHeight);
                if(leftBlockHeight > rightBlockHeight) {
                    document.getElementById('right-block').style.height = leftBlockHeight + "px";
                } else {
                    document.getElementById('left-block').style.height = rightBlockHeight + "px";
                }
            } else {
                document.getElementById('right-block').removeAttribute("style");
                document.getElementById('left-block').removeAttribute("style");
            }
        }
    </script> --}}

    <!-- Start Source: https://www.w3schools.com/howto/howto_css_smooth_scroll.asp#section2 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("a").on('click', function(event) {
                if (this.hash !== "") {
                event.preventDefault();
                var hash = this.hash;
                $('html, body').animate({
                    scrollTop: $(hash).offset().top - 50
                }, 800, function(){
                    {{!-- window.location.hash = hash; --}}
                });
                }
            });
        });
    </script>
    <!-- End Source: https://www.w3schools.com/howto/howto_css_smooth_scroll.asp#section2 -->
{{/section}}
