{{#section 'stylesheets'}}
    <link rel="stylesheet" href="/styles/stylesheets/activity-home-main.css">
{{/section}}
<!-- Global site tag (gtag.js) - Google Analytics -->

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-41144200-3"></script>

<script>

  window.dataLayer = window.dataLayer || [];

  function gtag(){dataLayer.push(arguments);}

  gtag('js', new Date());



  gtag('config', 'UA-41144200-3');

</script>

<div class="left-panel-step-1"></div>

<div class="container-fluid custom-container top-margin-adjustment-for-fixed-navbar">
    <div class="row">

        <div class="col-md-4 column-adjustment-step-1">
            <div><img src="/media/images/people.svg" alt="" class="image-for-step-1">
                <h1 class="activity-homepage-heading">Step 1: Start a Conversation</h1>
                <p class="activity-homepage-paragraph">Now that you know how important climate change and
                    urban forests are to the future of our city, it’s time to share that knowledge with your family,
                    friends, and neighbours. Here we provide some activities to help you start a conversation with
                    others on climate change and urban forests.</p>
            </div>
        </div>

        <div class="col-md-8 right-panel-adjustment">

          <a href="/step-1/a1">
                <div class="div-block-3">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="/media/images/story-collection2x.png" alt="" class="activity-icon">
                        </div>
                        <div class="col-md-9">
                            <h1 class="activity-heading">Story Collection</h1>
                            <p class="activity-description">To recognize how much your neighbourhood has changed over the
                                past decades, through facets like urban development, changing lifestyles, tree growth, and
                                climate change impacts.</p>
                        </div>
                    </div>
                </div>
            </a>

            <a href="/step-1/a2">
            <div class="div-block-3">
                <div class="row">
                    <div class="col-md-3">
                        <img src="/media/images/photo-gallery2x.png" alt="" class="activity-icon">
                    </div>
                    <div class="col-md-9">
                        <h1 class="activity-heading">Photo Gallery</h1>
                        <p class="activity-description">To recognize things you value around your block and how they
                            relate to climate change.</p>
                    </div>
                </div>
            </div>
          </a>

          <a href="/step-1/a3">
            <div class="div-block-3">
                <div class="row">
                    <div class="col-md-3"><img src="/media/images/photo-quiz2x.png" alt="" class="activity-icon"></div>
                    <div class="col-md-9">
                        <h1 class="activity-heading">Photo Quiz</h1>
                        <p class="activity-description">To test your skill in identifying signs of climate change
                            around your block.</p>
                    </div>
                </div>
            </div>
          </a>

          <a href="/step-1/a4">
            <div class="div-block-3">
                <div class="row">
                    <div class="col-md-3">
                        <img src="/media/images/non-triva-quiz2x.png" alt="" class="activity-icon">
                    </div>
                    <div class="col-md-9">
                        <h1 class="activity-heading">Non-Trivia Quiz</h1>
                        <p class="activity-description">This quiz will test your understanding of local climate change
                            and urban forestry issues.</p>
                    </div>
                </div>
            </div>
          </a>

        </div>

    </div>
</div>
