{{#section 'stylesheets'}}
    <link rel="stylesheet" href="/styles/stylesheets/activity-home-main.css">
    <link rel="stylesheet" href="/styles/stylesheets/activity.css">
    <link rel="stylesheet" href="/styles/stylesheets/step-5.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.debug.js"
    integrity="sha384-THVO/sM0mFD9h7dfSndI6TS0PgAGavwKvB5hAxRRvc0o9cPLohB0wb/PTA7LdUHs"
    crossorigin="anonymous"></script>
    {{! use cdn or install locally for jspdf? }}
{{/section}}
<!-- Global site tag (gtag.js) - Google Analytics -->

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-41144200-3"></script>

<script>

  window.dataLayer = window.dataLayer || [];

  function gtag(){dataLayer.push(arguments);}

  gtag('js', new Date());



  gtag('config', 'UA-41144200-3');

</script>

<div class="left-panel-step-5"></div>


<div class="container-fluid custom-container top-margin-adjustment-for-fixed-navbar">
    <div class="row">

        <div class="col-md-3 column-adjustment-step-5 activity-page-left-panel-column-adjustment">
            <div class="activity-page-left-panel-div-block">
                <a href="../step-5" class="activity-page-back-link">&lt; Back</a>
                  <img src="/media/images/beautify-your-yard2x.png" alt="" class="large-icon">
                  <div class="who-its-for-div-block">
                    <img src="/media/images/individual-icon.png" class="small-icon">
                    <div class="who-its-for">Individual</div>
                  </div>
                  <div class="time-to-complete-div-block"><img src="/media/images/alarm-clock.png" class="small-icon">
                    <div class="time-to-complete">60 - 90 minutes</div>
                </div>
                <h1 class="activity-page-title">Beautify &amp; Climate-Proof Your Yard</h1>
                <h2 class="activity-page-question">Why do this?</h2>
                <p class="activity-page-question-answer">To plant trees that are easy to maintain and able to survive the future impacts of climate change.</p>
            </div>
        </div>


        <div class="col-md-9 right-panel-adjustment activity-page-right-panel-column-adjustment">

            <div class="div-block-7">
                <div class="div-block-6">
                  <h3 class="activity-heading-1 heading-color-adjustment">Beautify &amp; Climate-Proof Your Yard</h3>
                    <h3 class="activity-heading-1 heading-color-adjustment">A. Pick up an appropriate tree</h3>
                    <a href="http://calp2016.sites.olt.ubc.ca/files/2019/01/2019-Jan_Coolkit-Full-Version.pdf#page=51">Read more here</a>
                    <br>
                    <h3 class="activity-heading-1 heading-color-adjustment">B. How to plant a tree</h3>
                    <a href="http://calp2016.sites.olt.ubc.ca/files/2019/01/2019-Jan_Coolkit-Full-Version.pdf#page=53">Read more here</a>
                    <br>
                    <h3 class="activity-heading-1 heading-color-adjustment">C. Pick up a native shrub you like</h3>
                    <a href="http://calp2016.sites.olt.ubc.ca/files/2019/01/2019-Jan_Coolkit-Full-Version.pdf#page=54">Read more here</a>
                    <br>
                    <h3 class="activity-heading-1 heading-color-adjustment">D. Identifying native species</h3>
                    <a href="http://calp2016.sites.olt.ubc.ca/files/2019/01/2019-Jan_Coolkit-Full-Version.pdf#page=55">Read more here</a>
                    <br>
                    <h3 class="activity-heading-1 heading-color-adjustment">E. Where to plant</h3>
                    <a href="http://calp2016.sites.olt.ubc.ca/files/2019/01/2019-Jan_Coolkit-Full-Version.pdf#page=56">Read more here</a>
                    <br>
                    <h3 class="activity-heading-1 heading-color-adjustment">F. How to care for your yard and garden</h3>
                    <a href="http://calp2016.sites.olt.ubc.ca/files/2019/01/2019-Jan_Coolkit-Full-Version.pdf#page=58">Read more here</a>
                    <br>
                </div>
            </div>

        </div>
    </div>
</div>

{{#section 'bodyScripts'}}
    <script src="/js/s2a1.js"></script>
{{/section}}
