{{#section 'stylesheets'}}
    <link rel="stylesheet" href="/styles/stylesheets/activity-home-main.css">
{{/section}}
<!-- Global site tag (gtag.js) - Google Analytics -->

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-41144200-3"></script>

<script>

  window.dataLayer = window.dataLayer || [];

  function gtag(){dataLayer.push(arguments);}

  gtag('js', new Date());



  gtag('config', 'UA-41144200-3');

</script>

<div class="left-panel-step-4"></div>

<div class="container-fluid custom-container top-margin-adjustment-for-fixed-navbar">
    <div class="row">

        <div class="col-md-4 column-adjustment-step-4">
            <div><img src="/media/images/Group-1224.svg" alt="" class="image-for-step-4">
                <h1 class="activity-homepage-heading">Step 4: Vision your Future</h1>
                <p class="activity-homepage-paragraph">Now that you know more about your block and home, you
                    might have some ideas about making some improvements in your own property. In this section, we will
                    provide examples of visioning what you can do for your home and neighbourhood, with real-life and
                    hypothetical examples - you can also try making your own “dream scenarios” using software such as
                    Photoshop or GIMP!</p>
            </div>
        </div>

        <div class="col-md-8 right-panel-adjustment">

          <a href="/step-4/a1">
            <div class="div-block-3">
                <div class="row">
                    <div class="col-md-3">
                        <img src="/media/images/highlow-carbon-future-visioning2x.png" alt="" class="activity-icon">
                    </div>
                    <div class="col-md-9">
                        <h1 class="activity-heading">What to Visualize</h1>
                        <p class="activity-description">To imagine what your yard or block will look like by using
                            visualization tool.</p>
                    </div>
                </div>
              </div>
            </a>

            <a href="/step-4/a2">
              <div class="div-block-3">
                <div class="row">
                    <div class="col-md-3">
                        <img src="/media/images/before-and-after-comparision2x.png" alt="" class="activity-icon">
                    </div>
                    <div class="col-md-9">
                        <h1 class="activity-heading">From Visioning to Reality</h1>
                        <p class="activity-description">Start thinking of what you want for your yard and
                            neighbourhood. Along with your maps, visualize what features you want and where you want
                            them.</p>
                    </div>
                </div>
              </div>
            </a>


              <a href="/step-4/a3">
                <div class="div-block-3">
                  <div class="row">
                    <div class="col-md-3">
                        <img src="/media/images/transportation-change2x.png" alt="" class="activity-icon">
                    </div>
                    <div class="col-md-9">
                        <h1 class="activity-heading">Change Your Transportation</h1>
                        <p class="activity-description">To realize the full potential of completed road that support
                            sustainable active transportation and lower the carbon emission.</p>
                    </div>
                </div>
              </div>
            </a>


        </div>

    </div>
</div>
