{{#section 'stylesheets'}}
    <link rel="stylesheet" href="/styles/stylesheets/activity-home-main.css">
    <link rel="stylesheet" href="/styles/stylesheets/activity.css">
    <link rel="stylesheet" href="/styles/stylesheets/step-2-activity-3.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.debug.js"
    integrity="sha384-THVO/sM0mFD9h7dfSndI6TS0PgAGavwKvB5hAxRRvc0o9cPLohB0wb/PTA7LdUHs"
    crossorigin="anonymous"></script>
    {{! use cdn or install locally for jspdf? }}
{{/section}}

<div class="left-panel-step-2"></div>

{{! TODO: make the activity content responsive,
          add ability to share PDF via social media and with CALP,
          jspdf CDN }}

<div class="container-fluid custom-container top-margin-adjustment-for-fixed-navbar">
    <div class="row">

        <div class="col-md-3 column-adjustment-step-2 activity-page-left-panel-column-adjustment">
            <div class="activity-page-left-panel-div-block">
                <a href="../step-2" class="activity-page-back-link">&lt; Back</a>
                <img src="/media/images/carbon-visualiztion2x.png" class="large-icon">
                <div class="who-its-for-div-block"><img src="/media/images/family-icon.png" class="small-icon">
                    <div class="who-its-for">Family</div>
                </div>
                <div class="time-to-complete-div-block"><img src="/media/images/alarm-clock.png" class="small-icon">
                    <div class="time-to-complete">30 minutes</div>
                </div>
                <h1 class="activity-page-title">Carbon Visual Quest</h1>
                <h2 class="activity-page-question">Why do this?</h2>
                <p class="activity-page-question-answer">Learn about how much carbon dioxide is emmitted in your neighbourhood.</p>
            </div>
        </div>

        <div class="col-md-9 right-panel-adjustment activity-page-right-panel-column-adjustment">

            <div class="div-block-7">
              <img src="/media/images/magnify.png">
                <div class="div-block-6">
                    <h3 class="activity-heading-1 heading-color-adjustment">Do You Know...</h3>
                    <p>How much carbon dioxide is emitted in your neiborhood?<br>
                      How much carbon absorbed ?<br>
                      Do you want to know how big the carbon you produced<br></p>
                </div>
            </div>

            <div >
                <h3 class="activity-heading-1 heading-color-adjustment">Assignment:</h3>
                <div class="div-block-8 text-color-adjustment">
                  <form novalidate onsubmit="return false">
                  </br></br></br></br>
                    <div class="div-block-9">
                          <!--<h4 class="activity-instruction-heading">1) Count the Trees</h4>-->
                        </br>
                        <div class="div-block-14">
                          <p class="assignmentparagraph">Check your own carbon footprint <a href="https://www.carbonfootprint.com/calculator.aspx">here</a></p>
                        </div>
                        <div class="div-block-13">
                          <p class="assignmentparagraph">1. What is the household footprint in one year?
                          <label>Total:
                              <input type="number" id="garden_trees" name="gardenTrees" required>
                          </label></p>

                          <p class="assignmentparagraph">2. What is the carbon footprint of your daily transportation within one year?
                          <label>Total:
                              <input type="number" id="garden_trees" name="gardenTrees" required>
                          </label></p>

                          <p class="assignmentparagraph">3. What is the total carbon footprint of your family per year?(Q1 + Q2)
                          <label>Total:
                              <input type="number" id="garden_trees" name="gardenTrees" required>
                          </label></p>
                        </div>
                      </div>


                      <div class="div-block-10">

                          <!--<h4 class="activity-instruction-heading"></h4>-->
                          <br>
                          <br>
                          <p class="assignmentparagraph">A tree can absorb approximately 48 pounds of carbon per year.</p>

                          <p class="assignmentparagraph">1. How many trees are in your property?<br>
                          <label>Total:
                              <input type="number" step=0.1 id="girth_biggest_tree" name="girthBiggestTree" required>
                          </label></p>

                          <p class="assignmentparagraph">2. How much carbon can those trees absorb?
                          <label>Total:
                              <input type="number" step=0.1 id="girth_biggest_tree" name="girthBiggestTree" required>
                          </label></p>

                          <p class="assignmentparagraph">Learn more about what trees absorb the most carbon <a href="https://www.hunker.com/12557632/what-trees-absorb-the-most-carbon-dioxide">here</a></p>

                      </div>



                      <div class="div-block-12"></br></br></br></br></br></br></br>
                          <input type="button" value="GENERATE PDF" id="generatePDF" class="btn btn-default button-1" />
                          </br></br></br></br></br></br></br></br>
                      </div>
                  </form>
                </div>

            </div>
        </div>

    </div>
</div>

{{#section 'bodyScripts'}}
    <script src="/js/s2a1.js"></script>
{{/section}}
