{{#section 'stylesheets'}}
    <link rel="stylesheet" href="/styles/stylesheets/activity-home-main.css">
    <link rel="stylesheet" href="/styles/stylesheets/activity.css">
    <link rel="stylesheet" href="/styles/stylesheets/step-1-activity-1.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.debug.js"
    integrity="sha384-THVO/sM0mFD9h7dfSndI6TS0PgAGavwKvB5hAxRRvc0o9cPLohB0wb/PTA7LdUHs"
    crossorigin="anonymous"></script>
    {{! use cdn or install locally for jspdf? }}
{{/section}}
<!-- Global site tag (gtag.js) - Google Analytics -->

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-41144200-3"></script>

<script>

  window.dataLayer = window.dataLayer || [];

  function gtag(){dataLayer.push(arguments);}

  gtag('js', new Date());



  gtag('config', 'UA-41144200-3');

</script>

<div class="left-panel-step-1"></div>

{{! TODO: add ability to share PDF via social media and with CALP,
          jspdf CDN }}

<div class="container-fluid custom-container top-margin-adjustment-for-fixed-navbar">
    <div class="row">

        <div class="col-md-3 column-adjustment-step-1 activity-page-left-panel-column-adjustment">
            <div class="activity-page-left-panel-div-block">
              <div id="HASH">
                <span><a href="../step-1/a2" class="activity-page-back-link">&lt; Back</a></span>
                <span><a href="../step-1/a4" class="activity-page-next-link">Next &gt;</a></span>
              </div>
                <img src="/media/images/photo-quiz2x.png" class="large-icon">
                <div class="who-its-for-div-block">
                    <img src="/media/images/individual-icon.png" class="small-icon">
                    <div class="who-its-for">Individual</div>
                </div>
                <div class="time-to-complete-div-block">

                  <img src="/media/images/alarm-clock.png" class="small-icon">                    <div class="time-to-complete">30 minutes</div>
                </div>
                <h1 class="activity-page-title">Photo Quiz</h1>
                <h2 class="activity-page-question">Why do this?</h2>
                <p class="activity-page-question-answer">To test your skills in identifying signs of climate change
                  on your block.</p>
            </div>
        </div>

        <div class="col-md-9 right-panel-adjustment activity-page-right-panel-column-adjustment container-fluid">

            <div class="row margin-bottom-adjustment">
                <div>
                  <h3 class="activity-heading-1 heading-color-adjustment">Look for signs of CIMA:</h3>
                  <img src="/media/images/cima.png" width="90%">
                </div>
                <div>
                  <h3 class="activity-heading-1 heading-color-adjustment">Examples of what to look for</h3>
                  <p>Consider potential impacts based on <b>possible threats</b> in different seasons, what activities related to mitigation, or
                    adaptation could potentially take place. For instance, as seen in the photo below, mature trees can be a potential impact if
                    they are unhealthy and blow down in wind storms. Trees are more often an <b>adaptation</b> against the effects of climate change
                    by reducing the impacts of heat waves and stormwater flooding.</p>
                    <img src="/media/images/cimaexample.png" width="90%">
                </div>
                <div>
                  <h3 class="activity-heading-1 heading-color-adjustment">Assignment:</h3>
                  <p>• Pick 3 photos to examine <br>
                    • For each photo of your block, write down which of the CIMA features you identify<br>
                    • Add a small version of each photo to place next to the description if you like<br>
                    • Use your photos to quiz each other on signs of climate change on your block</p>
                </div>
                <div>
                  <h3 class="activity-heading-1 heading-color-adjustment">Compare your results with other group members:</h3>
                  <p>• Did anyone see an actual impact of climate change in the photos?<br>
                    • Did anyone see what is the biggest vulnerability around the block?<br>
                    • Did anyone see visible adaptation taking place in the photos?<br>
                    • Would you consider your block a high or low carbon area?</p>
                </div>
                <div>
                  <p>Check out <a href="http://sefalsecreeksustainabilitytour.blogspot.com/">this</a> for an online guide to explore climate change signs in False Creek.
                    Hope it can help you with spotting climate measures at  your own community!
                  </p>
                </div>
            </div>

        </div>
    </div>
</div>

{{#section 'bodyScripts'}}
    <script src="/js/s1a1.js"></script>
{{/section}}
