{{#section 'stylesheets'}}
    <link rel="stylesheet" href="/styles/stylesheets/activity-home-main.css">
    <link rel="stylesheet" href="/styles/stylesheets/activity.css">
    <link rel="stylesheet" href="/styles/stylesheets/step-2-activity-2.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.debug.js"
    integrity="sha384-THVO/sM0mFD9h7dfSndI6TS0PgAGavwKvB5hAxRRvc0o9cPLohB0wb/PTA7LdUHs"
    crossorigin="anonymous"></script>
    {{! use cdn or install locally for jspdf? }}
{{/section}}
<!-- Global site tag (gtag.js) - Google Analytics -->

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-41144200-3"></script>

<script>

  window.dataLayer = window.dataLayer || [];

  function gtag(){dataLayer.push(arguments);}

  gtag('js', new Date());



  gtag('config', 'UA-41144200-3');

</script>

<div class="left-panel-step-2"></div>

{{! TODO: make the activity content responsive,
          add ability to share PDF via social media and with CALP,
          jspdf CDN }}

<div class="container-fluid custom-container top-margin-adjustment-for-fixed-navbar">
    <div class="row">

        <div class="col-md-3 column-adjustment-step-2 activity-page-left-panel-column-adjustment">
            <div class="activity-page-left-panel-div-block">
              <div id="HASH">
                <span><a href="../step-2/a1" class="activity-page-back-link">&lt; Back</a></span>
                <span><a href="../step-2/a3" class="activity-page-next-link">Next &gt;</a></span>
              </div>
                <img src="/media/images/climate-change-detective-quest2x.png" class="large-icon">
                <div class="who-its-for-div-block"><img src="/media/images/family-icon.png" class="small-icon">
                    <div class="who-its-for">Family</div>
                </div>
                <div class="time-to-complete-div-block"><img src="/media/images/alarm-clock.png" class="small-icon">
                    <div class="time-to-complete">30 minutes</div>
                </div>
                <h1 class="activity-page-title">Climate Change Detective Quest</h1>
                <h2 class="activity-page-question">Why do this?</h2>
                <p class="activity-page-question-answer">To investigate “car habitat” and other signs for climate change.</p>
            </div>
        </div>


        <div class="col-md-9 right-panel-adjustment activity-page-right-panel-column-adjustment">

            <div class="div-block-7">
              <img src="/media/images/magnify.png">
                <div class="div-block-6">
                    <h3 class="activity-heading-1 heading-color-adjustment">Do You Know...</h3>
                    <p>How many carbon-emitting cars park on your block?<br>
                      How much local food is grown on your block?<br>
                      Whether your roof is suitable for solar panels?<br></p>
                </div>
            </div>


            <div class="div-block-8 text-color-adjustment">
              <form novalidate onsubmit="return false">
                <br />
                <br />
                <br />
                <br />


                <div class="div-block-9">
                      <!--<h4 class="activity-instruction-heading">1) Count the Trees</h4>-->
                      <div class="div-block-13">
                      <p class="assignmentparagraph">1. How many cars are on your block? <label>Total:
                          <input type="number" id="street_cars" name="streetCars" required>
                      </label></p>

                      <p class="assignmentparagraph">2. How many cars are electric, hybrid vehicles, or carshares (eg. Modo)?
                      <label>Total:
                          <input type="number" id="carshare" name="carshare" required>
                      </label></p>

                      <p><b>% of sustainable cars on your block</b> Simply divide your Q2 answer by Q1.
                      <label>Total:
                          <input type="number" id="percentage" name="percentage" required>
                      </label></p>

                      <p class="assignmentparagraph">3. How many people are riding bikes in/through your block?
                      <label>Total:
                          <input type="number" id="bikes" name="bikes" required>
                      </label></p>
                    </div>
                  </div>


                  <div class="div-block-10">

                      <!--<h4 class="activity-instruction-heading"></h4>-->
                      <p class="assignmentparagraph">1. How many households have gardens (planted areas with shubs and/or trees) on your block?<br>
                      Total:
                          <input type="number" id="gardens" name="gardens" required>
                      </p>

                      <p class="assignmentparagraph">2. How many households are growing food?
                      <label>Total:
                          <input type="number" id="grow_food" name="growFood" required>
                      </label></p>

                      <p class="assignmentparagraph"><b>% of food gardens on your block?</b> Simply divide your Q2 answer by Q1.
                      <label>Total:
                          <input type="number" id="food_gardens" name="foodGardens" required>
                      </label></p>

                      <p class="assignmentparagraph">3. What is the most commonly grown vegetable on your block?
                        <input type="text" id="veggie" name="veggie" required>
                      </p>

                  </div>

                  <div class="div-block-11">
                      <!--<h4 class="activity-instruction-heading">3) The Leaping Squirrel Test</h4>-->
                      <!--<p class="assignmentparagraph" style="margin-bottom:30px;">Check out your block’s street tree
                          canopy by using the distance a squirrel leaps. Squirrels live up in the trees and are safer
                          there than on the ground. Assume squirrels can leap about 2 metres (6 ft or a person’s
                          height) between branches:<br><br>Can a squirrel make it from one end of the block to the
                          other and cross the street at least twice, without coming down to the ground?‍</p>-->
                      <div class="div-block-13">
                        </br>
                        <p class="assignmentparagraph">1. How many buildings have solar panels on their roofs?
                          Count the number of buildings with solar panels.
                         <input type="number" id="solar_panel" name="solarPanel" required></p>

                         <p class="assignmentparagraph">2. How many buildings have roofs suitable for solar energy?
                           Count the number of buildings with south-facing roofs large enough for solar panels.
                          <input type="number" id="roof" name="roof" required></p>
                      </div>
                  </div>


                  <div class="div-block-12"></br></br></br></br>
                      <input type="button" value="GENERATE PDF" id="generatePDF" class="btn btn-default button-1" />
                      </br></br></br></br>
                  </div>
              </form>

            </div>
        </div>

    </div>
</div>

{{#section 'bodyScripts'}}
    <script src="/js/s2a2.js"></script>
{{/section}}
