{{#section 'stylesheets'}}
    <link rel="stylesheet" href="/styles/stylesheets/activity-home-main.css">
    <link rel="stylesheet" href="/styles/stylesheets/activity.css">
    <link rel="stylesheet" href="/styles/stylesheets/step-5.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.debug.js"
    integrity="sha384-THVO/sM0mFD9h7dfSndI6TS0PgAGavwKvB5hAxRRvc0o9cPLohB0wb/PTA7LdUHs"
    crossorigin="anonymous"></script>
    {{! use cdn or install locally for jspdf? }}
{{/section}}
<!-- Global site tag (gtag.js) - Google Analytics -->

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-41144200-3"></script>

<script>

  window.dataLayer = window.dataLayer || [];

  function gtag(){dataLayer.push(arguments);}

  gtag('js', new Date());



  gtag('config', 'UA-41144200-3');

</script>

<div class="left-panel-step-5"></div>


<div class="container-fluid custom-container top-margin-adjustment-for-fixed-navbar">
    <div class="row">

        <div class="col-md-3 column-adjustment-step-5 activity-page-left-panel-column-adjustment">
            <div class="activity-page-left-panel-div-block">
              <div id="HASH">
                <span><a href="../step-5/a4" class="activity-page-back-link">&lt; Back</a></span>
                <span><a href="../step-5/a6" class="activity-page-next-link">Next &gt;</a></span>
              </div>
                  <img src="/media/images/low-carbon-lifestyle2x.png" alt="" class="large-icon">
                  <div class="who-its-for-div-block">
                    <img src="/media/images/individual-icon.png" class="small-icon">
                    <div class="who-its-for">Individual</div>
                  </div>
                  <div class="time-to-complete-div-block"><img src="/media/images/alarm-clock.png" class="small-icon">
                    <div class="time-to-complete">10 - 20 minutes</div>
                </div>
                <h1 class="activity-page-title">Develop a Low-Carbon Lifestyle</h1>
                <h2 class="activity-page-question">Why do this?</h2>
                <p class="activity-page-question-answer">Transportation and energy consumption are the two biggest contributors to BC households'
                  carbon footprint. Learn 2 ways to help you reduce your carbon footprint and become more sustainable.</p>
            </div>
        </div>


        <div class="col-md-9 right-panel-adjustment activity-page-right-panel-column-adjustment">

            <div>
                <div class="div-block-6">
                    <h3 class="activity-heading-1 heading-color-adjustment">1. Travel more Sustainabily</h3>
                    <p>Our transportation (cars, trucks, planes etc.) contributes to more than half of the average BC household’s carbon
                      footprint. It also accounts for noxious air pollution, common air contamination, and water toxicity.</p>
                    <h4 class="activity-heading-3 heading-color-adjustment">Walk or bike more</h4>
                    <p>In 10 minutes you can walk 1 km or bike 3.5 km. In the meantime, you can:<br>
                      • Keep fit (A 125-lb person walking at brisk pace for 30 minutes burns about 150 calories.)<br>
                      • Save money (gym fees or car expenses)<br>
                      • Save time, for short distances (< 10 km), cycling is usually the fastest way to travel in the city</p>
                    <p>Calculate how much calories you can burn by walking <a href="http://www.shapesense.com/fitness-exercise/calculators/walking-calorie-burn-calculator.shtml">here</a></p>
                      <h4 class="activity-heading-3 heading-color-adjustment">Take public Transit</h4>
                      <p>Read the news, chat with friends, or take a nap! Taking transit is much cheaper than owning a car: the average
                        savings are $586 per month for a family using public transit instead of driving.</p>
                      <h4 class="activity-heading-3 heading-color-adjustment">Carshare or Carpool</h4>
                      <p>It's a great way to bypass traffic congestions (by driving in HOV lanes), save expenses and meet new people!</p>
                </div>
                <img src="/media/images/biking.png" width=100%>
                <br>
                <br>
                <div class="div-block-6">
                    <h3 class="activity-heading-1 heading-color-adjustment">2. Reduce Energy Consumption and Increase Renewables</h3>
                    <p>Canada is No. 1 when it comes to energy consumption per capita. We are consuming as much as the continent of
                      Africa, which has double the population of Canada! In BC, energy use accounts for a quarter of a household’s
                      carbon footprint on average.</p>
                    <h4 class="activity-heading-3 heading-color-adjustment">Install solar pannels and solar PVs</h4>
                    <p>Rooftop solar – uses photovoltaic cells to harvest the sun's energy and convert that into electricity.
                      Solar hot water system – solar thermal collectors circulate a fluid which is heated by the sun’s radiant energy.
                      Read more <a href = "https://www.forbes.com/sites/houzz/2014/05/17/everything-you-need-to-know-about-adding-solarpanels-at-home/#46ad17b8740e">here</a>.</p>
                    <h4 class="activity-heading-3 heading-color-adjustment">Use more Energy Star appliances</h4>
                    <p>An Energy Star certified CFL or LED bulb saves up to 30% energy and lasts 10-25 times longer. An Energy Star certified
                      laundry machine can save 35% on energy and water.</p>
                    <h4 class="activity-heading-3 heading-color-adjustment">Turn off electronics when you are not in the room</h4>
                    <p>It costs $20 per year to keep one light on 8 hours everyday for a year.</p>
                    <h4 class="activity-heading-3 heading-color-adjustment">Turn your thermostat down by 2 degreess</h4>
                    <p>That is equivalent to a 5% reduction in heating energy.</p>
                    <h4 class="activity-heading-3 heading-color-adjustment">Seal the heat leaks and insulate your home</h4>
                    <p>Check walls, doors, and windows for draft. If you don’t know how, watch this <a href= "http://www.youtube.com/watch?v=mGPg-uxl5qk">video</a>.
                        You can also get a thermal image of your house to identify heat leaks and opportunities for energy efficiency upgrades.
                        What is a thermal image? A thermal image is “a picture of the heat that comes off objects”.
                        To request a termal image of your home, please contact the City at <u>thermal.imaging@vancouver.ca</u>.
                        Insulate the roof, floors, walls, and the basement to keep your house cool in the summer and warm in the winter.</p>
                    <h4 class="activity-heading-3 heading-color-adjustment">Think about district energy systems</h4>
                    <p>Networks of hot and cold water pipes, typically buried underground, that are used to efficiently heat and cool building
                      using less energy than if the individual buildings were to each have their own boilers and chillers.
                      Read more <a href="http://energy.ubc.ca/projects/district-energy/">here</a>.</p>
                    <h4 class="activity-heading-3 heading-color-adjustment">Use heat pumps and geo-exchange</h4>
                    <p>Heat pumps can take heat from the air or ground and use it to provide space heat or hot water.</p>
                    <br>
                    <br>
                </div>
                <img src="/media/images/lowcarbonlife.png" width=100%>
                <br>
                <br>

            </div>

        </div>
    </div>
</div>

{{#section 'bodyScripts'}}
    <script src="/js/s2a1.js"></script>
{{/section}}
