{{#section 'stylesheets'}}
    <link rel="stylesheet" href="/styles/stylesheets/activity-home-main.css">
{{/section}}

<div class="left-panel-step-5"></div>

<div class="container-fluid custom-container top-margin-adjustment-for-fixed-navbar">
    <div class="row">

        <div class="col-md-4 column-adjustment-step-5">
            <div><img src="/media/images/Group-1237.svg" alt="" class="image-for-step-5">
                <h1 class="activity-homepage-heading">Step 5: Action on the Ground</h1>
                <p class="activity-homepage-paragraph">Now that we know the urgency of combating climate
                    change, and the importance of urban trees in climateproofing our communities, how could you take
                    action together? This section provides you tips and external resources on what you can do to help.</p>
            </div>
        </div>

        <div class="col-md-8 right-panel-adjustment">

          <a href="/step-5/a1">
            <div class="div-block-3">
                <div class="row">
                    <div class="col-md-3">
                        <img src="/media/images/make-a-pledge2x.png" alt="" class="activity-icon">
                    </div>
                    <div class="col-md-9">
                        <h1 class="activity-heading">Prioritize and Make a Pledge</h1>
                        <p class="activity-description">To prioritize the ideas you have from your visioning and scorecard.</p>
                    </div>
                </div>
            </div>
          </a>

          <a href="/step-5/a2">
            <div class="div-block-4">
                <div class="row">
                    <div class="col-md-3">
                        <img src="/media/images/make-a-plan2x.png" alt="" class="activity-icon">
                    </div>
                    <div class="col-md-9">
                        <h1 class="activity-heading">Make a Plan</h1>
                        <p class="activity-description">To quickly see what goals you plan to accomplish and when.</p>
                    </div>
                </div>
            </div>
          </a>

          <a href="/step-5/a3">
            <div class="div-block-4">
                <div class="row">
                    <div class="col-md-3">
                        <img src="/media/images/beautify-your-yard2x.png" alt="" class="activity-icon">
                    </div>
                    <div class="col-md-9">
                        <h1 class="activity-heading">Beautify &amp; Climate-Proof Your Yard</h1>
                        <p class="activity-description">To plant trees that are easy to maintain and able to survive
                            the future impacts of climate change.</p>
                    </div>
                </div>
            </div>
          </a>

          <a href="/step-5/a4">
            <div class="div-block-4">
                <div class="row">
                    <div class="col-md-3">
                        <img src="/media/images/protect-the-tree2x.png" alt="" class="activity-icon">
                    </div>
                    <div class="col-md-9">
                        <h1 class="activity-heading">Green &amp; Climate-Proof Your Block</h1>
                        <p class="activity-description">Create a street garden in traffic circles or even on the street
                            in front of your place by planting vegetation that you like. Creating this type of green
                            space can benefit you and your block in various ways.</p>
                    </div>
                </div>
            </div>
          </a>

          <a href="/step-5/a5">
            <div class="div-block-4">
                <div class="row">
                    <div class="col-md-3">
                        <img src="/media/images/low-carbon-lifestyle2x.png" alt="" class="activity-icon">
                    </div>
                    <div class="col-md-9">
                        <h1 class="activity-heading">Develop a Low-Carbon Lifestyle</h1>
                        <p class="activity-description">Transportation and energy consumption are the two biggest contributors to the BC household’s
                          carbon footprint. Learn 2 ways to help you reduce your carbon footprint and become more sustainable.</p>
                    </div>
                </div>
            </div>
          </a>

        </div>

    </div>
</div>
