{{#section 'stylesheets'}}
    <link rel="stylesheet" href="styles/stylesheets/activity-home-main.css">
{{/section}}

<div class="left-panel-step-4"></div>

<div class="container-fluid custom-container top-margin-adjustment-for-fixed-navbar">
    <div class="row">

        <div class="col-md-4 column-adjustment-step-4">
            <div><img src="media/images/Group-1224.svg" alt="" class="image-for-step-4">
                <h1 class="activity-homepage-heading">Vision</h1>
                <p class="activity-homepage-paragraph">Now that you know more about your block and home, you
                    might have some ideas on making some improvements in your own property. In this section, we will
                    provide examples of visioning what you can do for your home and neighbourhood, with real-life and
                    hypothetical examples - you can also try making your own “dream scenarios” using software such as
                    Photoshop or GIMP!</p>
            </div>
        </div>

        <div class="col-md-8 right-panel-adjustment">

            <div class="div-block-3 activity-coming-soon">
                <div class="row">
                    <div class="col-md-3">
                        <img src="media/images/highlow-carbon-future-visioning2x.png" alt="" class="activity-icon">
                    </div>
                    <div class="col-md-9">
                        <h1 class="activity-heading">What to Visualize</h1>
                        <p class="activity-description">To imagine what your yard or block will look like by using
                            visualization tool.</p>
                    </div>
                </div>
            </div>

            <div class="div-block-4 activity-coming-soon">
                <div class="row">
                    <div class="col-md-3">
                        <img src="media/images/before-and-after-comparision2x.png" alt="" class="activity-icon">
                    </div>
                    <div class="col-md-9">
                        <h1 class="activity-heading">From Visioning to Reality</h1>
                        <p class="activity-description">Start thinking of what you want for your yard and
                            neighbourhood. Along with your maps, visualize what features you want and where you want
                            them.</p>
                    </div>
                </div>
            </div>

            <div class="div-block-4 activity-coming-soon">
                <div class="row">
                    <div class="col-md-3">
                        <img src="media/images/home-retrofit2x.png" alt="" class="activity-icon">
                    </div>
                    <div class="col-md-9">
                        <h1 class="activity-heading">Retrofit Your Home</h1>
                        <p class="activity-description">To gain more knowledge about how to retrofit your home into an
                            energy smart green house.</p>
                    </div>
                </div>
            </div>

            <div class="div-block-4 activity-coming-soon">
                <div class="row">
                    <div class="col-md-3">
                        <img src="media/images/CEE-Logo-22x.png" alt="" class="activity-icon">
                    </div>
                    <div class="col-md-9">
                        <h1 class="activity-heading">Community Energy</h1>
                        <p class="activity-description">To identify solutions and create a more efficient, sustainable
                            and cost-effective neighborhood through collective action at the community level.</p>
                    </div>
                </div>
            </div>

            <div class="div-block-4 activity-coming-soon">
                <div class="row">
                    <div class="col-md-3">
                        <img src="media/images/transportation-change2x.png" alt="" class="activity-icon">
                    </div>
                    <div class="col-md-9">
                        <h1 class="activity-heading">Change Your Transportation</h1>
                        <p class="activity-description">To realize the full potential of completed road that support
                            sustainable active transportation and lower the carbon emission.</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>