{{#section 'stylesheets'}}
    <link rel="stylesheet" href="/styles/stylesheets/activity-home-main.css">
{{/section}}

<div class="left-panel-step-2"></div>

<div class="container-fluid custom-container top-margin-adjustment-for-fixed-navbar">
    <div class="row">

        <div class="col-md-4 column-adjustment-step-2">
            <div><img src="/media/images/Asset-Map.svg" alt="" class="image-for-step-2">
                <h1 class="activity-homepage-heading">Step 2: Map your Community</h1>
                <p class="activity-homepage-paragraph">Do you know much about the trees on your block? Have
                    you ever tried to inventory important things on your block and consider their links to climate
                    change? Do you live on a high carbon or low carbon block? The activities in this section will help
                    you see your surroundings in a new way, and learn to use some simple mapping techniques.</p>
            </div>
        </div>

        <div class="col-md-8 right-panel-adjustment">

            <a href="/step-2/a1">
                <div class="div-block-3">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="/media/images/urban-forest-quest2x.png" alt="" class="activity-icon">
                        </div>
                        <div class="col-md-9">
                            <h1 class="activity-heading">Urban Forest Quest</h1>
                            <p class="activity-description">Investigate “squirrel habitat” (tree canopy) and other
                                features of your urban forest.</p>
                        </div>
                    </div>
                </div>
            </a>

            <div class="div-block-4 activity-coming-soon">
                <div class="row">
                    <div class="col-md-3">
                        <img src="/media/images/climate-change-detective-quest2x.png" alt="" class="activity-icon">
                    </div>
                    <div class="col-md-9">
                        <h1 class="activity-heading">Climate Change Detective Quest</h1>
                        <p class="activity-description">Investigate “car habitat” and other signs of climate change.</p>
                    </div>
                </div>
            </div>

            <div class="div-block-4 activity-coming-soon">
                <div class="row">
                    <div class="col-md-3">
                        <img src="/media/images/carbon-visualiztion2x.png" alt="" class="activity-icon">
                    </div>
                    <div class="col-md-9">
                        <h1 class="activity-heading">Carbon Visual Quest</h1>
                        <p class="activity-description">Learn about how much carbon dioxide is emmitted in your neighbourhood.</p>
                    </div>
                </div>
            </div>

        <a href="/step-2/a4" >
            <div class="div-block-3">
                <div class="row">
                    <div class="col-md-3">
                        <img src="/media/images/habitat-mapping2x.png" alt="" class="activity-icon">
                    </div>
                    <div class="col-md-9">
                        <h1 class="activity-heading">Habitat Mapping</h1>
                        <p class="activity-description">To quickly identify different types of “habitats” or surfaces
                            in your neighbourhood.</p>
                    </div>
                </div>
            </div>
          </a>

            <div class="div-block-4 activity-coming-soon">
                <div class="row">
                    <div class="col-md-3">
                        <img src="/media/images/vulnerability-mapping2x.png" alt="" class="activity-icon">
                    </div>
                    <div class="col-md-9">
                        <h1 class="activity-heading">Vulnerability Mapping</h1>
                        <p class="activity-description">To quickly identify possible risks to the neighbourhood from
                            climate change.</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
