{{#section 'stylesheets'}}
    <link rel="stylesheet" href="/styles/stylesheets/activity-home-main.css">
    <link rel="stylesheet" href="/styles/stylesheets/activity.css">
    <link rel="stylesheet" href="/styles/stylesheets/step-5.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.debug.js"
    integrity="sha384-THVO/sM0mFD9h7dfSndI6TS0PgAGavwKvB5hAxRRvc0o9cPLohB0wb/PTA7LdUHs"
    crossorigin="anonymous"></script>
    {{! use cdn or install locally for jspdf? }}
{{/section}}
<!-- Global site tag (gtag.js) - Google Analytics -->

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-41144200-3"></script>

<script>

  window.dataLayer = window.dataLayer || [];

  function gtag(){dataLayer.push(arguments);}

  gtag('js', new Date());



  gtag('config', 'UA-41144200-3');

</script>

<div class="left-panel-step-5"></div>


<div class="container-fluid custom-container top-margin-adjustment-for-fixed-navbar">
    <div class="row">

        <div class="col-md-3 column-adjustment-step-5 activity-page-left-panel-column-adjustment">
            <div class="activity-page-left-panel-div-block">
                <a href="../step-5/a6" class="activity-page-back-link">&lt; Back</a>
                  <img src="/media/images/home-retrofit2x.png" alt="" class="large-icon">
                  <div class="who-its-for-div-block">
                    <img src="/media/images/family-icon.png" class="small-icon">
                    <div class="who-its-for">Family</div>
                  </div>
                  <div class="time-to-complete-div-block"><img src="/media/images/alarm-clock.png" class="small-icon">
                    <div class="time-to-complete">30 - 60 minutes</div>
                </div>
                <h1 class="activity-page-title">Retrofit Your Home</h1>
                <h2 class="activity-page-question">Why do this?</h2>
                <p class="activity-page-question-answer">To gain more knowledge about how to retrofit your home into an energy smart green house.</p>
            </div>
        </div>


        <div class="col-md-9 right-panel-adjustment activity-page-right-panel-column-adjustment">

            <div class="div-block-7">
                <div class="div-block-6">
                  <h3 class="activity-heading-1 heading-color-adjustment">Retrofit Your Home - House</h3>
                  <p>Think about new design possibilities and fill the blanks with your brilliant ideas about retrofitting this building
                    (hints are given by lines connecting to the installations)</p>
                   <br>
                   <img src="/media/images/house.png" width=100%>
                   <br>
                   <br>


                   <button class="collapsible"><h4 class="heading-color-adjustment">1.</h4></button>
                   <div class="content">
                     <p>High efficiency gas heating/air conditioning</p>
                   </div>

                   <button class="collapsible"><h4 class="heading-color-adjustment">2.</h4></button>
                   <div class="content">
                     <p>Roof sheathing - reduce radiant hear transfer through the roof by 97%. Read more
                       <a href="https://energy.gov/energysaver/radiant-barriers">here</a>.</p>
                   </div>

                   <button class="collapsible"><h4 class="heading-color-adjustment">3.</h4></button>
                   <div class="content">
                     <p>Advanced framing techniques - reduce air linkage and ensure a tight envelope</p>
                   </div>

                   <button class="collapsible"><h4 class="heading-color-adjustment">4.</h4></button>
                   <div class="content">
                     <p>Pressure balancing</p>
                   </div>

                   <button class="collapsible"><h4 class="heading-color-adjustment">5.</h4></button>
                   <div class="content">
                     <p>Energy star appliances. Read more <a href="https://energystar.gov/products/appliances">here</a>.</p>
                   </div>

                   <button class="collapsible"><h4 class="heading-color-adjustment">6.</h4></button>
                   <div class="content">
                     <p>Mastic sealed a/c ducts. Wrap the ducts in mylar and reduce the duct leakage.</p>
                   </div>

                   <button class="collapsible"><h4 class="heading-color-adjustment">7.</h4></button>
                   <div class="content">
                     <p>Polycell caulking. Cut down leaks and air infiltration - makes a more energy efficient home. Read more
                       <a href="https://www.todayshomeowner.com/video/how-to-caulk-and-seal-gaps-and-cracks/">here</a>.</p>
                   </div>

                   <button class="collapsible"><h4 class="heading-color-adjustment">8.</h4></button>
                   <div class="content">
                     <p>Vinyl window with low-E glass. Keep warm air in during the winter and hot solar rays out during the summer.
                     Read more <a href="https://energy.gov/energysaver/energy-efficient-windows">here</a></p>
                   </div>

                   <button class="collapsible"><h4 class="heading-color-adjustment">9.</h4></button>
                   <div class="content">
                     <p>Blown-in insulation. Elimate gaps by completely filling wall cavities with insulation and reduce air filtration.</p>
                   </div>

                   <button class="collapsible"><h4 class="heading-color-adjustment">10.</h4></button>
                   <div class="content">
                     <p>Tyvek - provides a breathable moisture barrier around the house.</p>
                   </div>

                   <button class="collapsible"><h4 class="heading-color-adjustment">11.</h4></button>
                   <div class="content">
                     <p>Perimeter insulation - reduces the heat loss through the slab. Read more <a href="https://buildingscience.com./documents/information-sheets/slab-edge-insulaion">here</a></p>
                   </div>

                   <h3 class="activity-heading-2 heading-color-adjustment">Interested in learning more about home retrofit?</h3>
                   <p>1. Ways to save heat and fuel at home <a href ="http://www.nef.org.uk/knowledge-hub/energy-in-the-home/ways-tosave-heat-fuel-at-home">here</a><br>
                      2. Top 11 Things You Didn't Know About Saving Energy at Home <a href="https://energy.gov/articles/top-11-thingsyou-didnt-know-about-saving-energy-home-summer-edition">here</a><br>
                      3. Brilliant ideas about how to reduce your building carbon footprint and reduce energy consumptions
                      <a href="http://www.metalarchitecture.com/articles/8-tips-to-reduce-your-building-carbon-footprint">here</a>
                   <br>
                   <br>
                </div>
            </div>

        </div>
    </div>
</div>

{{#section 'bodyScripts'}}
    <script src="/js/s4a3.js"></script>
{{/section}}
