{{#section 'stylesheets'}}
    <link rel="stylesheet" href="/styles/stylesheets/activity-home-main.css">
    <link rel="stylesheet" href="/styles/stylesheets/activity.css">
    <link rel="stylesheet" href="/styles/stylesheets/step-1-activity-4.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.debug.js"
    integrity="sha384-THVO/sM0mFD9h7dfSndI6TS0PgAGavwKvB5hAxRRvc0o9cPLohB0wb/PTA7LdUHs"
    crossorigin="anonymous"></script>
    {{! use cdn or install locally for jspdf? }}
{{/section}}
<!-- Global site tag (gtag.js) - Google Analytics -->

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-41144200-3"></script>

<script>

  window.dataLayer = window.dataLayer || [];

  function gtag(){dataLayer.push(arguments);}

  gtag('js', new Date());



  gtag('config', 'UA-41144200-3');

</script>

<div class="left-panel-step-1"></div>

{{! TODO: add ability to share PDF via social media and with CALP,
          jspdf CDN }}

<div class="container-fluid custom-container top-margin-adjustment-for-fixed-navbar">
    <div class="row">

        <div class="col-md-3 column-adjustment-step-1 activity-page-left-panel-column-adjustment">
            <div class="activity-page-left-panel-div-block">
              <div id="HASH">
                <span><a href="../step-1/a3" class="activity-page-back-link">&lt; Back</a></span>
                <span><a href="../step-2" class="activity-page-next-link">Next &gt;</a></span>
              </div>
                <img src="/media/images/non-triva-quiz2x.png" class="large-icon">
                <div class="who-its-for-div-block">
                    <img src="/media/images/individual-icon.png" class="small-icon">
                    <div class="who-its-for">Individual or <img src="/media/images/group-icon.png" class="small-icon"> Group</div>
                </div>
                <div class="time-to-complete-div-block">
                    <img src="/media/images/alarm-clock.png" class="small-icon">
                    <div class="time-to-complete">30 minutes</div>
                </div>
                <h1 class="activity-page-title">Non-Trivia Quiz</h1>
                <h2 class="activity-page-question">Why do this?</h2>
                <p class="activity-page-question-answer">This quiz will test your understanding of local climate change
                    and urban forestry issues.</p>
            </div>
        </div>

        <div class="col-md-9 right-panel-adjustment activity-page-right-panel-column-adjustment container-fluid">

            <div>
                    <h3 class="activity-heading-1 heading-color-adjustment">Non-Trivia Quiz:</h3>
                    <p>Read the Cookit background to answer questions 1-4. Walk around your block and search for answers online for questions 5 & 6.</p>
                    <p>The questions below are just examples - feel free to come up with your own that match the interests and issues in your own community.
                       Hold a trivia quiz activity at someone’s home or a community event, and share answers. Once complete, discuss the answers with the group.</p>
            </div>
            <div>
              <button class="collapsible"><h4 class="heading-color-adjustment"><b>1. What is BC’s 2050 carbon emissions reduction target?</b></h4></button>
              <div class="content">
                <p>80% below 2007 carbon emmison levels</p>
              </div>

              <button class="collapsible"><h4 class="heading-color-adjustment"><b>2. What produces the most carbon emissions from households in BC?</b></h4></button>
              <div class="content">
                <p>Building heating</p>
              </div>

              <button class="collapsible"><h4 class="heading-color-adjustment"><b>3. What is the average carbon footprint of residents in BC?</b></h4></button>
              <div class="content">
                <p>The average carbon footprint of residents in BC is 10-14 tonnes per person.</p>
              </div>

              <button class="collapsible"><h4 class="heading-color-adjustment"><b>4. How many trees is Vancouver planning to plant from 2010 to 2020?</b></h4></button>
              <div class="content">
                <p>The municipal government has a stated goal of planting 150,000 new trees by 2020 to densify Vancouver’s urban forest canopy.</p>
              </div>

              <button class="collapsible"><h4 class="heading-color-adjustment"><b>5. What kind of tree provides the biggest canopy on your street?</b></h4></button>
              <div class="content">
                <p>Answers may differ.</p>
              </div>

              <button class="collapsible"><h4 class="heading-color-adjustment"><b>6. Are there any trees on your street that are native to your region?</b><br>
                If yes, what kind?</h4></button>
              <div class="content">
                <p>Some of the trees that are native to Costal BC are: Amabalis fir, Arbutus, Black Cottonwood, Douglas-fir, Mountain hemlock, Sitka spruce, Western hemlock, Western red-cedar.
                However, answers may differ depending on where you live.</p>
              </div>

        </div>
    </div>
  </div>
</div>

{{#section 'bodyScripts'}}
    <script src="/js/s1a4.js"></script>
{{/section}}
