{{#section 'stylesheets'}}
    <link rel="stylesheet" href="/styles/stylesheets/activity-home-main.css">
{{/section}}

<div class="left-panel-step-3"></div>

<div class="container-fluid custom-container top-margin-adjustment-for-fixed-navbar">
    <div class="row">

        <div class="col-md-4 column-adjustment-step-3">
            <div><img src="/media/images/Group-608.svg" alt="" class="image-for-step-3">
                <h1 class="activity-homepage-heading">Step 3: Rate your Block</h1>
                <p class="activity-homepage-paragraph">This section contains two <b>SCORECARDS</b> to let you assess
                    whether your block is prepared for climate change, and how green it is, by answering some questions
                    about your household and block. Compare your results with other blocks - and see who has the
                    highest score!</p>
            </div>
        </div>

        <div class="col-md-8 right-panel-adjustment">

          <a href="/step-3/a1">
            <div class="div-block-3">
                <div class="row">
                    <div class="col-md-3">
                      <img src="/media/images/beautify-your-yard2x.png" alt="" class="activity-icon">
                    </div>
                    <div class="col-md-9">
                        <h1 class="activity-heading">Rate Your Household</h1>
                    </div>
                </div>
            </div>
          </a>

          <a href="/step-3/a2">
            <div class="div-block-3">
                <div class="row">
                    <div class="col-md-3"><img src="/media/images/neighborhood2x.png" alt="" class="activity-icon"></div>
                    <div class="col-md-9">
                        <h1 class="activity-heading">Rate Your Block</h1>
                    </div>
                </div>
            </div>
          </a>




        </div>

    </div>
</div>
