{{#section 'stylesheets'}}
    <link rel="stylesheet" href="/styles/stylesheets/activity-home-main.css">
    <link rel="stylesheet" href="/styles/stylesheets/activity.css">
    <link rel="stylesheet" href="/styles/stylesheets/step-2-activity-1.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.debug.js"
    integrity="sha384-THVO/sM0mFD9h7dfSndI6TS0PgAGavwKvB5hAxRRvc0o9cPLohB0wb/PTA7LdUHs"
    crossorigin="anonymous"></script>
    {{! use cdn or install locally for jspdf? }}
{{/section}}

<div class="left-panel-step-2"></div>


<div class="container-fluid custom-container top-margin-adjustment-for-fixed-navbar">
    <div class="row">

        <div class="col-md-3 column-adjustment-step-2 activity-page-left-panel-column-adjustment">
            <div class="activity-page-left-panel-div-block">
                <a href="../step-2" class="activity-page-back-link">&lt; Back</a>
                <img src="/media/images/habitat-mapping2x.png" class="large-icon">
                <div class="who-its-for-div-block"><img src="/media/images/family-icon.png" class="small-icon">



                    <div class="who-its-for">Individual</div>
                </div>
                <div class="time-to-complete-div-block"><img src="/media/images/alarm-clock.png" class="small-icon">
                    <div class="time-to-complete">30-90 minutes</div>
                </div>
                <h1 class="activity-page-title">Habitat Mapping</h1>
                <h2 class="activity-page-question">Why do this?</h2>
                <p class="activity-page-question-answer">To quickly identify different types of "habitats" or
                  surfaces in your neighbourhood.</p>
            </div>
        </div>


        <div class="col-md-9 right-panel-adjustment activity-page-right-panel-column-adjustment">

            <div class="div-block-7">
                <div class="div-block-6">
                    <h3 class="activity-heading-1 heading-color-adjustment">Assignment:</h3>
                    <p>Gather several colorful markers and satellite photos of your block/yard to map on. Depends on the mapping tools
                    you use, you will need a computer or some hard copies of photos (you can print them on regular paper instead of photo paper.
                    Recommended size: 11" by 17" or 18" by 24")</p>
                    <br>

                    <h3 class="activity-heading-1 heading-color-adjustment">What is Habitat Mapping?</h3>
                    <p>There are many different habitats(other than human habitat) on your block.<br>Here are
                        are some examples of different habitats that you an map in this exercise</p>
                </div>
            </div>

        </div>

    </div>
</div>

{{#section 'bodyScripts'}}
    <script src="/js/s2a1.js"></script>
{{/section}}
