{{#section 'stylesheets'}}
    <link rel="stylesheet" href="/styles/stylesheets/activity-home-main.css">
    <link rel="stylesheet" href="/styles/stylesheets/activity.css">
    <link rel="stylesheet" href="/styles/stylesheets/step-3.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.debug.js"
    integrity="sha384-THVO/sM0mFD9h7dfSndI6TS0PgAGavwKvB5hAxRRvc0o9cPLohB0wb/PTA7LdUHs"
    crossorigin="anonymous"></script>
    {{! use cdn or install locally for jspdf? }}
{{/section}}

<div class="left-panel-step-3"></div>


<div class="container-fluid custom-container top-margin-adjustment-for-fixed-navbar">
    <div class="row">

        <div class="col-md-3 column-adjustment-step-3 activity-page-left-panel-column-adjustment">
            <div class="activity-page-left-panel-div-block">
                <a href="../step-3" class="activity-page-back-link">&lt; Back</a>
                <img src="/media/images/beautify-your-yard2x.png" alt="" class="large-icon">
                <div class="who-its-for-div-block"><img src="/media/images/individual-icon.png" class="small-icon">
                <div class="who-its-for">Individual</div>
                </div>
                <div class="time-to-complete-div-block">
                  <img src="/media/images/alarm-clock.png" class="small-icon">
                    <div class="time-to-complete">20 - 30 minutes</div>
                </div>
                <h1 class="activity-page-title">Rate Your Block</h1>
                <h2 class="activity-page-question">Why do this?</h2>
                <p class="activity-page-question-answer">To quickly identify different types of "habitats" or
                  surfaces in your neighbourhood.</p>
            </div>
        </div>



                <div class="col-md-9 right-panel-adjustment activity-page-right-panel-column-adjustment">

                    <div class="div-block-7">
                        <div class="div-block-6">
                            <h3 class="activity-heading-1 heading-color-adjustment">Impacts & Adaptation</h3>
                            <p>A higher score indicates a lowercarbon footprint.</p>
                            <br>

                            <h3 class="activity-description heading-color-adjustment">1. What color is your roof?</h3>
                            <form>
                              <input type="radio" name="climate" value="3" checked> Light (reflecting heat)<br>
                              <input type="radio" name="climate" value="2"> Medium<br>
                              <input type="radio" name="climate" value="1"> Dark (absorbing heat)
                            </form>

                            <h3 class="activity-description heading-color-adjustment">2. How do you use and store water for your gardens?</h3>
                            <form>
                              <input type="radio" name="climate" value="3" checked> Using roof rainwater capture (waterbutts)and rain gardens<br>
                              <input type="radio" name="climate" value="2"> Part of the garden is irrigated with tapwater<br>
                              <input type="radio" name="climate" value="1"> Garden fully irrigated with tap water
                            </form>

                           <h3 class="activity-description heading-color-adjustment">3. How many trees are on your property?</h3>
                           <form>
                             <input type="radio" name="climate" value="3" checked> > 3<br>
                             <input type="radio" name="climate" value="2"> 1-3<br>
                             <input type="radio" name="climate" value="1"> 0
                           </form>

                           <h3 class="activity-description heading-color-adjustment">4. How much green or pervious('worm habitat') are is on your entire lot??</h4>
                             <form>
                               <input type="radio" name="climate" value="3" checked> > 40%<br>
                               <input type="radio" name="climate" value="2"> 20 - 40 %<br>
                               <input type="radio" name="climate" value="1"> < 20%
                             </form>

                          <h3 class="activity-description heading-color-adjustment">5. How much of what you eat is grown by yourself?</h4>
                            <form>
                              <input type="radio" name="climate" value="3" checked> I can make a cucumber, tomato, and pepper salad for an entire week<br>
                              <input type="radio" name="climate" value="2"> You can find some carrots and a potted mint plant<br>
                              <input type="radio" name="climate" value="1"> I don't grow any of my food
                            </form>
                        </div>
                    </div>


                </div>

    </div>
</div>

{{#section 'bodyScripts'}}
<script src="/js/s3.js"></script>
{{/section}}
