{{#section 'stylesheets'}}
    <link rel="stylesheet" href="/styles/stylesheets/activity-home-main.css">
    <link rel="stylesheet" href="/styles/stylesheets/activity.css">
    <link rel="stylesheet" href="/styles/stylesheets/step-4.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.debug.js"
    integrity="sha384-THVO/sM0mFD9h7dfSndI6TS0PgAGavwKvB5hAxRRvc0o9cPLohB0wb/PTA7LdUHs"
    crossorigin="anonymous"></script>
    {{! use cdn or install locally for jspdf? }}
{{/section}}
<!-- Global site tag (gtag.js) - Google Analytics -->

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-41144200-3"></script>

<script>

  window.dataLayer = window.dataLayer || [];

  function gtag(){dataLayer.push(arguments);}

  gtag('js', new Date());



  gtag('config', 'UA-41144200-3');

</script>

<div class="left-panel-step-4"></div>


<div class="container-fluid custom-container top-margin-adjustment-for-fixed-navbar">
    <div class="row">

        <div class="col-md-3 column-adjustment-step-4 activity-page-left-panel-column-adjustment">
            <div class="activity-page-left-panel-div-block">
                <a href="../step-4" class="activity-page-back-link">&lt; Back</a>
                  <img src="/media/images/CEE-Logo-22x.png" alt="" class="large-icon">
                  <div class="who-its-for-div-block">
                    <img src="/media/images/group-icon.png" class="small-icon">
                    <div class="who-its-for">Group</div>
                  </div>
                  <div class="time-to-complete-div-block"><img src="/media/images/alarm-clock.png" class="small-icon">
                    <div class="time-to-complete">30 - 60 minutes</div>
                </div>
                <h1 class="activity-page-title">Community Energy</h1>
                <h2 class="activity-page-question">Why do this?</h2>
                <p class="activity-page-question-answer">To identify solutions and create a more efficient, sustainable and cost-effective
                  neighborhood through collective action at the community level.</p>
            </div>
        </div>


        <div class="col-md-9 right-panel-adjustment activity-page-right-panel-column-adjustment">

            <div class="div-block-7">
                <div class="div-block-6">
                  <h3 class="activity-heading-1 heading-color-adjustment">City of Vancouver's renewable City Strategy on zero emisson building priorities</h3>
                  <p>1. Expand existing and develop new neighbourhood renewable energy systems<br>
                     2. Ensure grid supplied electricity is 100% renewable</p>
                    <br>
                    <h4 class="activity-heading-2 heading-color-adjustment">What is Community Energy?</h4>
                    <p>Community energy refers to multiple energy sources and distribution networks that are shared between various
                      members of a geographic neighborhood, with at least part of the energy generated in the local area.</p>
                    <br>
                  <h3 class="activity-heading-1 heading-color-adjustment">Redesign your Community</h3>
                  <p>Think about new design possibilities and fill in the blanks with your brilliant ideas about energy use in your
                    neighborhood enhancement (hints are given by arrows pointing to the sketch).</p>
                    <br>
                    <img src="/media/images/communityenergy.png" width=100%>
                    <br>
                    <br>
                    <button class="collapsible"><h4 class="heading-color-adjustment">1.</h4></button>
                    <div class="content">
                      <p>Completed and connected community. About 2500 residents are within a 5 minute walk of shops, services and offices in two neighbouhood centres.</p>
                    </div>

                    <button class="collapsible"><h4 class="heading-color-adjustment">2.</h4></button>
                    <div class="content">
                      <p>Building retrofit - see detailed installations in the <a href="../step-4/a3-house">house</a>/<a href="../step-4/a3-apartment">apartment</a> modules.</p>
                    </div>

                    <button class="collapsible"><h4 class="heading-color-adjustment">3.</h4></button>
                    <div class="content">
                      <p>Efficient housing type. Households in duplex, townhouse, and apartment dwellings located near services can reduce household
                         energy costs by about 60% compared to suburb households.</p>
                    </div>

                    <button class="collapsible"><h4 class="heading-color-adjustment">4.</h4></button>
                    <div class="content">
                      <p>Tree shading. Trees on the east and west side provide cooling effects with summer shade - saving energy for air conditioning;
                         pruning lower branches of deciduous trees to the south will allow the lower winter sun to strike the walls - saving energ for heating.</p>
                    </div>

                    <button class="collapsible"><h4 class="heading-color-adjustment">5.</h4></button>
                    <div class="content">
                      <p>Pumps and geo-exchange. Heat pumps can take heat from the air or ground and use it to provide space hear or hot water.</p>
                    </div>

                    <button class="collapsible"><h4 class="heading-color-adjustment">6.</h4></button>
                    <div class="content">
                      <p>Solar energy/ solar water hot system.<br> Rooftop solar - uses photovoltaic cells to harvest the sun energy and convert that into electricity.<br>
                      Solar hot water system - solar thermal collectors circulate a fluid which is heated by the sun's radiant energy.</p>
                    </div>

                    <button class="collapsible"><h4 class="heading-color-adjustment">7.</h4></button>
                    <div class="content">
                      <p>District energy system. Networks of hot and cold water pipes, typically burried underground, that are used to efficiently
                      heat and cool buildings using less energy than if the individual buildings were to each have their own boilers and chillers.
                      See an example in downtown Vancouver <a href="https://vancouver.ca/home-property-development/southeast-false-creek-neighbourhood-energy-utility.aspx">here</a>.</p>
                    </div>
                    <br>
                    <br>
                    <p>Learn more about the animation of climate change and community design <a href="http://www.climateandcommunity.ca/#">here</a></p>
                    <br>
                </div>
            </div>

        </div>
    </div>
</div>

{{#section 'bodyScripts'}}
    <script src="/js/s4a3.js"></script>
{{/section}}
