{{#section 'stylesheets'}}
    <link rel="stylesheet" href="/styles/stylesheets/activity-home-main.css">
    <link rel="stylesheet" href="/styles/stylesheets/activity.css">
    <link rel="stylesheet" href="/styles/stylesheets/step-4.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.debug.js"
    integrity="sha384-THVO/sM0mFD9h7dfSndI6TS0PgAGavwKvB5hAxRRvc0o9cPLohB0wb/PTA7LdUHs"
    crossorigin="anonymous"></script>
    {{! use cdn or install locally for jspdf? }}
{{/section}}
<!-- Global site tag (gtag.js) - Google Analytics -->

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-41144200-3"></script>

<script>

  window.dataLayer = window.dataLayer || [];

  function gtag(){dataLayer.push(arguments);}

  gtag('js', new Date());



  gtag('config', 'UA-41144200-3');

</script>

<div class="left-panel-step-4"></div>


<div class="container-fluid custom-container top-margin-adjustment-for-fixed-navbar">
    <div class="row">

        <div class="col-md-3 column-adjustment-step-4 activity-page-left-panel-column-adjustment">
            <div class="activity-page-left-panel-div-block">
                <a href="../step-4" class="activity-page-back-link">&lt; Back</a>
                  <img src="/media/images/highlow-carbon-future-visioning2x.png" alt="" class="large-icon">
                  <div class="who-its-for-div-block">
                    <img src="/media/images/individual-icon.png" class="small-icon">
                    <div class="who-its-for">Individual or <img src="/media/images/family-icon.png" class="small-icon"> Family</div>
                  </div>
                  <div class="time-to-complete-div-block"><img src="/media/images/alarm-clock.png" class="small-icon">
                    <div class="time-to-complete">10 - 20 minutes</div>
                </div>
                <h1 class="activity-page-title">What to Visualize</h1>
                <h2 class="activity-page-question">Why do this?</h2>
                <p class="activity-page-question-answer">To imagine what your yard or block will look like by using a visualization tool.</p>
            </div>
        </div>


        <div class="col-md-9 right-panel-adjustment activity-page-right-panel-column-adjustment">

            <div class="div-block-7">
                <div class="div-block-6">
                  <h4 class="activity-heading-1 heading-color-adjustment">What to Visulize</h4>
                  <img src="/media/images/carbonfuture.png" alt="" width= 100%>
                  <br>
                    <p>What other possible improvements do you want to see (e.g. shared compost bins, rain gardens,
                      traffic calming curb gardens, passive solar houses)? Do some research to determine the feasibility
                      of your ideas, and talk to people who have already made improvements - remember, this is great hands-on learning!
                    </p>
                    <p>If you have done the vulnerability mapping or the scorecard,
                      please look back to your vulnerability map and/or your score, think about things that you can do or changes
                      that you want to see in your community to help tackle the risk features or improve your score, and visualize them!
                      We have some suggestios to help you get started!</p>
                    <br>
                    <h4 class="activity-heading-1 heading-color-adjustment">Visualization Examples</h4>
                    <img src="/media/images/visualization1.png" alt="" width= 100%>
                    <img src="/media/images/visualization2.png" alt="" width= 100%>
                    <img src="/media/images/visualization3.png" alt="" width= 100%>
                    <img src="/media/images/visualization4.png" alt="" width= 100%>
                    <img src="/media/images/visualization5.png" alt="" width= 100%>
                   </br>
                  </br>
                </div>
            </div>

        </div>
    </div>
</div>

{{#section 'bodyScripts'}}
    <script src="/js/s2a1.js"></script>
{{/section}}
