.body {
    font-family: Lato, sans-serif;
    color: #707070;
    font-size: 18px;
}

.custom-container {
    display: block;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

/* Homepage Styles */
#hero {
    min-height: 500px;
    padding-top: 75px;
    padding-bottom: 75px;
}  

.div-block-1 {
    margin-bottom: 0px;
    text-align: center;
}

#hero-image {
    display: block;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
}

.heading-1 {
    margin-top: 25px;
    margin-bottom: 25px;
    color: #707070;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}

.paragraph-1 {
    display: block;
    width: 80%;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
    color: #707070;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
}

.button-1 {
    display: inline-block;
    width: 185px;
    border-radius: 18px;
    font-size: 15px;
    padding: 9px 15px;
    background-color: #3898EC;
    color: white;
    border: 0;
}

.section-2 {
    min-height: 500px;
    padding-top: 55px;
    padding-bottom: 55px;
}

.heading-2 {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 35px;
    line-height: 42px;
    font-weight: bold;
}

.paragraph-2 {
    margin-bottom: 20px;
}

.unordered-list-1 {
    margin-bottom: 20px;
    line-height: 30px;
}

.list-item-1 {
    margin-bottom: 5px;
    list-style-type: none;
}

.section-3 {
    min-height: 470px;
    padding-top: 55px;
    padding-bottom: 55px;
    background-color: #f6f6f6;
}

.heading-3 {
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 35px;
    line-height: 42px;
    font-weight: bold;
}

.div-block-2 {
    display: block;
    min-height: 250px;
    padding: 50px 30px;
    background-color: #ffffff;
    border-style: none;
    box-shadow: 0 0 6px 0 #707070;
}

.image-1 {
    display: inline-block;
    margin-right: 15px;
}

.image-2 {
    margin-right: 15px;
}

.heading-4 {
    font-size: 32px;
    font-weight: bold;
    line-height: 36px;
    margin-top: 0px;
}

.link {
    position: absolute;
    top: 150px;
    color: #4dabf4;
    text-decoration: none;
}

.column-padding-adjustment-1 {
    padding-left: 0px;
    padding-right: 0px;
}

.column-padding-adjustment-2 {
    padding-left: 0px;
}

.column-padding-adjustment-3 {
    padding-right: 0px;
}

.section-4 {
    min-height: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.heading-7 {
    margin-bottom: 25px;
    text-align: center;
}

.paragraph-4 {
    display: block;
    width: 80%;
    margin-right: auto;
    margin-bottom: 55px;
    margin-left: auto;
    line-height: 22px;
    text-align: center;
}

.div-block-12 {
    display: block;
    margin-right: auto;
    margin-bottom: 55px;
    margin-left: auto;
}

.image-10 {
    height: 250px;
    float: right;
}

.column-3 {
    padding-left: 0px;
}

.div-block-10 {
    display: inline-block;
    min-height: 270px;
    margin-left: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 60px;
    border-left: 2px solid #d2d2d2;
}

.image-9 {
    width: 75px;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.list-item-2 {
    margin-bottom: 5px;
}

.div-block-8 {
    display: block;
    min-height: 270px;
    margin-right: 60px;
    padding: 10px 60px;
    float: right;
    border-right: 2px solid #d2d2d2;
}

.image-11 {
    height: 250px;
    float: none;
}

.div-block-15 {
    min-height: 270px;
    margin-left: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 60px;
    border-left: 2px solid #d2d2d2;
}

.center-button{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.top-margin-adjustment-1 {
    margin-top: 50px;
}