.div-block-6 {
    display: inline-block;
}

.div-block-7 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.div-block-8 {
    position: static;
    min-height: 1020px;
    padding-right: 2%;
    padding-left: 2%;
    background-image: url('../../media/images/glass.png');
    background-size: cover;
    margin-top: 20px;
    width: 100%
}

.div-block-9 {
    display: block;
    width: 70%;
    float: left;
    clear: none;

}

.div-block-10 {
    display: inline-block;
    width: 65%;
    float: right;
    clear: both;
}

.div-block-11 {
    display: block;
    width: 65%;
    float: none;
    clear: both;
}

.div-block-12 {
    display: inline-block;
    float: right;
    clear: both;
    margin-bottom: 3px;
}

.div-block-13 {
    margin-left: 5%;
}

.text-color-adjustment {
    color: black;
}

.heading-color-adjustment {
    color: #f79029;
}

#answer-no {
    margin-top: 10px;
}
