.heading-color-adjustment {
    color: #97cd70;
}

.margin-bottom-adjustment {
    margin-bottom: 50px;
}

.margin-left-adjustment {
    margin-left: -40px;
}

.storyheading {
    color: #707070;
    font-size: 20px;
    font-weight: normal;
}

.textarea-size-adjustment {
    width: 100%;
    height: 200px;
    resize: none;
}

.width-adjustment {
    width: 100%;
}

.div-block-16 {
    display: inline-block;
    float: right;
    margin-bottom: 55px;
}

.leftbutton {
    margin-right: 10px;
}

.button-bottom-margin-adjustment {
    margin-bottom: 20px;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 18px;
  display: none;
  overflow: hidden;
  background-color: #ffffff;
}
